.spend-analysis{
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    border: none;
    padding: 1.5rem 1rem;
    .heading{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: 1.5rem;
        .cta{
            svg{
                margin-left: 0.5rem;
            }
        }
        h3{
            margin-bottom: 0;
        }
    }
}