<div class="spend-analysis mt-2">
        <div class="heading">
                <h3 class="text-uppercase font-color font-16 font-bold">spend analysis</h3>
                <button class="cta blue-cta font-10 text-uppercase">make payment
                        <svg width="7" height="10" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1.21375 0.757359L5.46364 5L1.21375 9.24264" stroke="#4A87E2" stroke-width="2"/>
                            </svg>
                    </button>
            </div>
    <div class="chart-wrapper">
        <canvas #myCanvas baseChart 
        [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
                [plugins]="lineChartPlugins"
              ></canvas>
    </div>
</div>