.offer-debit-card{
    background-image: url("../../../assets/img/bank-account/offer-card.png");
    border-radius: 12px;
    border: none;
    background-repeat: no-repeat;
    background-color: #85BD8D;
    background-size: auto;
    background-position: bottom right;
    display: inline-block;
    padding: 1.5rem 1rem;
    .offer-text{
        width: 65%;
        display: flex;
    flex-direction: column;
    align-items: flex-start;
    }
}