<div class="offer-debit-card my-2">
    <div class="offer-text">
    <h3 class="font-14 font-800 font-green">Expressions Debit Card!</h3>
    <p class="font-12 font-bold font-green">Customize and get your favourite image on icici Debit cards.</p>
    <a href="#" class="cta green-cta font-10 font-bold font-green">LEARN MORE</a>
</div>
</div>
