.card-details{
    background: #FFFFFF;
    /* Card 01 */
    
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    border: none;
    padding: 1.5rem 1rem;
    .card-top{
display: flex;
align-items: center;
justify-content: space-between;
.heading{
    display: flex;
    align-items: center;
}
.btns{
    display: flex; 
    align-items: center;
}
    }
    .card-top{
        .heading{
            h3{
                margin-bottom: 0;
            }
            .cta{
                padding: 0;
                width: 20px;
                height: 20px;
                margin-left: 0.3rem;
                svg{
                    margin: 0;
                }
            }
        }
    }
    .card{
        background-image: url("../../../assets/img/bank-account/card.png");
        background-size: contain;
        width: 100%;
        height: 10rem;
        border: 0;
        background-repeat: no-repeat;
        background-position: center;
        padding: 1.3rem 3.5rem;
        color: white;
        margin: 1rem 0;
        h5{
            margin-left: 18%;
        }
        .card-no-cvv{
            display: flex;
            margin: 1rem 0;
            p{
                margin-bottom: 0;
            }
        }
        .card-bal{
            .label{
                margin-bottom: 0.2rem;
            }
            .amount{
                display: flex;
                align-items: flex-start;
                span{
                    margin-right: 0.3rem;
                }
            }
        }

    }
    .option-button{
        display: flex;
        align-items: center;
        justify-content: center;
        .manage{
            display: flex;
            align-items: center;
            p{
                margin-bottom: 0;
            }
            .cta{
                padding: 0;
                width: 2.3rem;
                height: 2.3rem;
                margin-left: 0.5rem;
            }
        }
    }
}