<div class="card-details mb-2">
    <div class="card-top">
        <div class="heading">
            <h3 class="text-uppercase font-color font-16 font-bold">Debit cards</h3>
            <button class="cta gray-cta">
                <svg width="6" height="8" viewBox="0 0 6 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1.5 7.00006L4.58649 4.00006L1.5 1.00006" stroke="#71718E" stroke-width="1.5"/>
                    </svg>
            </button>
        </div>
        <div class="btns">
            <button class="cta gray-cta font-10 font-bold text-uppercase">HIDE 
                <svg width="12" height="7" viewBox="0 0 12 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.5 1.53339L11.0936 1.00006C9.96017 2.09783 8.15641 3.40654 5.99984 3.40654C3.84328 3.40654 2.03967 2.09783 0.906276 1.00006L0.5 1.53339C0.822401 1.84576 1.19781 2.17377 1.61687 2.48755L0.682559 3.93741L1.18705 4.35086L2.14755 2.86038C2.58127 3.1434 3.05427 3.4018 3.56094 3.6094L3.04039 5.41575L3.63359 5.63302L4.15586 3.82034C4.64149 3.97063 5.15315 4.06978 5.68804 4.0979V6.00006H6.31164V4.09808C6.84654 4.06995 7.3582 3.97081 7.84368 3.82052L8.36625 5.63338L8.95945 5.41611L8.43875 3.6094C8.94542 3.4018 9.41827 3.14375 9.85198 2.86056L10.8128 4.35138L11.3173 3.93794L10.3827 2.48755C10.802 2.17377 11.1774 1.84593 11.5 1.53339Z" fill="#71718E" stroke="#71718E" stroke-width="0.3"/>
                    </svg>
            </button>
            <button class="cta gray-cta font-10 font-bold text-uppercase m-1">FLIP
                <svg width="14" height="10" viewBox="0 0 14 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10.4243 7.82618C10.6673 8.08704 10.6452 8.50008 10.3802 8.73921C9.45251 9.56528 8.25979 10.0001 7.02291 10.0001C6.91247 10.0001 6.82412 10.0001 6.71369 10.0001C5.36636 9.91311 4.12948 9.32616 3.2239 8.32617C2.53919 7.56531 2.11953 6.63054 1.98701 5.6523L1.58944 5.95664C1.45692 6.0436 1.32439 6.08707 1.16978 6.08707C0.970995 6.08707 0.77221 6.00012 0.639686 5.84795C0.418814 5.56534 0.462988 5.1523 0.750123 4.93492L2.22997 3.78276C2.22997 3.78276 2.22997 3.78276 2.25206 3.78276C2.27414 3.78276 2.27414 3.76102 2.29623 3.76102C2.31832 3.73928 2.34041 3.73928 2.36249 3.71754C2.38458 3.71754 2.38458 3.6958 2.40667 3.6958C2.42876 3.6958 2.45084 3.67406 2.47293 3.67406C2.49502 3.67406 2.49502 3.67406 2.5171 3.65232C2.56128 3.65232 2.58337 3.63059 2.62754 3.63059H2.64963C2.6938 3.63059 2.71589 3.63059 2.76006 3.63059C2.76006 3.63059 2.76006 3.63059 2.78215 3.63059H2.80424C2.82633 3.63059 2.84841 3.65232 2.89259 3.65232C2.91467 3.65232 2.91468 3.65233 2.93676 3.67406C2.95885 3.67406 2.98094 3.6958 3.00302 3.71754C3.02511 3.71754 3.02511 3.73928 3.0472 3.73928L4.54913 4.73927C4.85836 4.93492 4.92462 5.34795 4.72583 5.6523C4.52705 5.95664 4.10739 6.02186 3.79817 5.82621L3.31225 5.50012C3.40059 6.21751 3.70982 6.89141 4.21782 7.43488C4.88044 8.174 5.78602 8.60878 6.80203 8.67399C7.79596 8.73921 8.7678 8.41313 9.49668 7.76096C9.76173 7.52183 10.1814 7.54357 10.4243 7.82618ZM13.362 4.15232C13.1411 3.86971 12.7214 3.82624 12.4343 4.04362L12.0367 4.34797C11.9042 3.36972 11.4845 2.43495 10.7998 1.67409C8.9445 -0.391095 5.74185 -0.565006 3.64355 1.26105C3.37851 1.50018 3.33433 1.91322 3.59938 2.17409C3.84234 2.43495 4.262 2.45669 4.52705 2.21756C6.07315 0.869756 8.43649 1.00019 9.8059 2.52191C10.3139 3.06538 10.6231 3.76102 10.7115 4.45666L10.2256 4.13058C9.91634 3.93493 9.51877 4.00015 9.2979 4.30449C9.09911 4.60883 9.16537 5.00013 9.47459 5.21752L10.9765 6.21751L10.9986 6.23924C11.0207 6.26098 11.0428 6.26098 11.0649 6.28272C11.087 6.28272 11.087 6.28272 11.1091 6.30446C11.1311 6.3262 11.1753 6.3262 11.1974 6.3262C11.1974 6.3262 11.1974 6.3262 11.2195 6.3262C11.2637 6.3262 11.2858 6.3262 11.3299 6.3262C11.3741 6.3262 11.3962 6.3262 11.4404 6.3262C11.4624 6.3262 11.4624 6.3262 11.4845 6.30446C11.5066 6.30446 11.5287 6.30446 11.5508 6.28272C11.5729 6.28272 11.5729 6.26098 11.595 6.26098C11.6171 6.26098 11.6391 6.23924 11.6612 6.23924C11.6833 6.23924 11.6833 6.21751 11.7054 6.21751C11.7275 6.21751 11.7275 6.19577 11.7496 6.19577L13.2294 5.04361C13.5387 4.84796 13.5828 4.43492 13.362 4.15232Z" fill="#71718E"/>
                    </svg>
            </button>
        </div>
    </div>
    <div class="card">
        <h5 class="font-10 font-800 text-uppercase">dmrc platinum</h5>
        <div class="card-no-cvv">
            <p class="font-10 card-no">**** 3654</p>
            <p class="font-10 ml-2">12/26</p>
        </div>
        <div class="card-bal">
                <p class="font-9 label">Available balance</p>
                <p class="font-33 font-300 amount"><span class="font-14">₹</span>78,65,826</p>
            </div>
    </div>
    <div class="option-button">
            <div class="manage">
                <p class="font-10 color-blue text-uppercase">MANAGE</p>
                <button class="cta blue-cta">
                        <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M8.92018 3.03696L6.60929 0.786434L7.37518 0L10.5975 3.13815L11.0013 3.53136L10.5975 3.92458L7.37518 7.06273L6.60929 6.27629L8.80831 4.13472H3.47623C2.16263 4.13472 1.09776 5.19959 1.09776 6.51319V13.0003H0V6.51319C0 4.59332 1.55636 3.03696 3.47623 3.03696H8.92018Z" fill="#4A87E2"/>
                            </svg>
                </button>
            </div>
            <div class="manage ml-4">
                    <p class="font-10 color-blue text-uppercase">Block Card</p>
                    <button class="cta blue-cta">
                            <svg width="24" height="19" viewBox="0 0 24 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M17.795 14.3044C18.2062 14.7479 18.1688 15.45 17.7203 15.8566C16.1504 17.2609 14.132 18 12.0388 18C11.8519 18 11.7024 18 11.5155 18C9.23538 17.8522 7.14219 16.8544 5.60967 15.1544C4.45094 13.8609 3.74075 12.2718 3.51648 10.6088L2.84367 11.1262C2.6194 11.274 2.39512 11.3479 2.13348 11.3479C1.79707 11.3479 1.46066 11.2001 1.23639 10.9414C0.862608 10.461 0.937365 9.75881 1.42328 9.38925L3.92764 7.43059C3.92764 7.43059 3.92764 7.43059 3.96502 7.43059C4.0024 7.43059 4.0024 7.39363 4.03978 7.39363C4.07716 7.35667 4.11453 7.35667 4.15191 7.31972C4.18929 7.31972 4.18929 7.28276 4.22667 7.28276C4.26405 7.28276 4.30143 7.24581 4.3388 7.24581C4.37618 7.24581 4.37618 7.2458 4.41356 7.20885C4.48832 7.20885 4.5257 7.17189 4.60045 7.17189H4.63783C4.71259 7.17189 4.74997 7.17189 4.82472 7.17189C4.82472 7.17189 4.82472 7.17189 4.8621 7.17189H4.89948C4.93686 7.17189 4.97424 7.20885 5.04899 7.20885C5.08637 7.20885 5.08637 7.20885 5.12375 7.24581C5.16113 7.24581 5.19851 7.28276 5.23589 7.31972C5.27327 7.31972 5.27326 7.35667 5.31064 7.35667L7.85238 9.05665C8.37568 9.38925 8.48781 10.0914 8.15141 10.6088C7.815 11.1262 7.10481 11.2371 6.58151 10.9044L5.75919 10.3501C5.9087 11.5697 6.432 12.7153 7.2917 13.6392C8.41306 14.8957 9.94557 15.6348 11.665 15.7457C13.347 15.8566 14.9917 15.3022 16.2252 14.1935C16.6737 13.787 17.3839 13.824 17.795 14.3044ZM22.7664 8.05884C22.3926 7.57841 21.6824 7.5045 21.1965 7.87406L20.5237 8.39144C20.2994 6.72842 19.5892 5.13931 18.4305 3.84585C15.2907 0.335034 9.87082 0.0393858 6.31986 3.14369C5.87132 3.55021 5.79656 4.25237 6.24511 4.69584C6.65627 5.13931 7.36646 5.17627 7.815 4.76975C10.4315 2.47848 14.431 2.70022 16.7485 5.28714C17.6082 6.21104 18.1315 7.39363 18.281 8.57622L17.4586 8.02188C16.9353 7.68928 16.2625 7.80014 15.8887 8.31753C15.5523 8.83491 15.6645 9.50012 16.1878 9.86968L18.7295 11.5697L18.7669 11.6066C18.8043 11.6436 18.8416 11.6436 18.879 11.6805C18.9164 11.6805 18.9164 11.6805 18.9538 11.7175C18.9912 11.7544 19.0659 11.7544 19.1033 11.7544C19.1033 11.7544 19.1033 11.7544 19.1407 11.7544C19.2154 11.7544 19.2528 11.7544 19.3276 11.7544C19.4023 11.7544 19.4397 11.7544 19.5145 11.7544C19.5518 11.7544 19.5518 11.7544 19.5892 11.7175C19.6266 11.7175 19.664 11.7175 19.7013 11.6805C19.7387 11.6805 19.7387 11.6436 19.7761 11.6436C19.8135 11.6436 19.8509 11.6066 19.8882 11.6066C19.9256 11.6066 19.9256 11.5697 19.963 11.5697C20.0004 11.5697 20.0004 11.5327 20.0378 11.5327L22.5421 9.57403C23.0654 9.24143 23.1402 8.53927 22.7664 8.05884Z" fill="#4A87E2" stroke="#E4ECF9" stroke-width="1.16272"/>
                                </svg>
                    </button>
                </div>
        </div>
</div>