<div class="profile-box container-fluid">
    <div class="row">
        <div class="profile col-lg-3">
            <div class="customer-detail">
                <img src="assets/img/bank-account/customer-img.png" alt="">
                <p class="color-text">Namastey,<span class="font-bold">Swaminathan</span></p>
                <a href="#" class="edit-btn white-cta font-10">EDIT</a>
            </div>
            <a href="#" class="cta green-cta font-10">Fight Corona Contribute for PM Cares fund</a>
        </div>

        <div class="status col-lg-9">
            <a href="#" class="quick-action cta-element">
                <a href="#" class="cta blue-cta">
                    <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect x="14.2507" y="6.32141" width="2.35718" height="13.5002" transform="rotate(90 14.2507 6.32141)" fill="#4A87E2" stroke="#4A87E2" stroke-width="0.5"/>
                                <rect x="8.6792" y="14.2502" width="2.35718" height="13.5002" transform="rotate(-180 8.6792 14.2502)" fill="#4A87E2" stroke="#4A87E2" stroke-width="0.5"/>
                                </svg>
                </a>
                <p class="font-10 font-weight-bold color-text">QUICK ACTIONS</p>
            </a>

            <a href="#" class="deposit cta-element">
                <p class="font-10 font-weight-bold">DEPOSITS</p>
                <span class="green-cta cta font-10">2 Ongoing</span>
            </a>

            <a href="#" class="investment cta-element">
                <p class="font-10 font-weight-bold">INVESTMENTS</p>
                <span class="green-cta cta font-10">2 Ongoing</span>
            </a>

            <a href="#" class="bills cta-element">
                <div class="total-bills">
                    <p class="number font-30">4</p>
                    <p class="font-10 pay-bill font-weight-bold color-text">PAY YOUR BILLS</p>
                </div>
                <img src="assets/img/bank-account/bses.svg" class="bill-clients-img" alt="">
                <img src="assets/img/bank-account/mtnl.png" class="bill-clients-img" alt="">
                <img src="assets/img/bank-account/airtel.png" class="bill-clients-img" alt="">
                <span class="cta blue-cta">
                    <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M10.8992 4.94975L5.94946 9.89949L0.999716 4.94975" stroke="#4A87E2" stroke-width="2"/>
                                    </svg>
                </span>
            </a>

        </div>


    </div>

</div>