.profile-box {
padding: 0;
    .profile {
        .customer-detail {
            display: flex;
            align-items: flex-end;
            img {
                border-radius: 50%;
                height: 3rem;
                width: 3rem;
            }
            p {
                display: flex;
                flex-direction: column;
                margin: 0 1rem;
                font-weight: lighter;
                line-height: 18px;
                letter-spacing: 0.41px;
                span {
                    margin-top: 0.2rem;
                    font-weight: 500;
                }
            }
            .white-cta {
                padding: 0.2rem 0.8rem;
                background: #FAFBFF;
                border-color: #E3E6F6;
            }
        }
        .green-cta {
            margin-top: 0.5rem;
            border: 1px solid #96C7BC;
            display: inline-flex;
        }
    }
    .status {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .cta-element{
            margin-left: 1rem;
        }
        .quick-action {
            .blue-cta {
                width: 2.5rem;
                height: 2.5rem;
                padding: 0.4rem;
            }
            p {
                margin-bottom: 0;
                margin-left: 0.5rem;
                width: 4rem;
            }
        }
        .deposit {
            p {
                margin: 0 0.8rem;
                color: #47834C;
            }
        }
        .investment {
            p {
                margin: 0 0.8rem;
                color: #E19045;
            }
        }
        .bills {
            padding: 0.75rem 0.5rem;
            .total-bills {
                display: flex;
                p {
                    margin-bottom: 0;
                }
                .pay-bill {
                    width: 4rem;
                }
                .number {
                    color: #4A87E2;
                    margin-left: 1rem;
                    margin-right: 0.5rem;
                }
            }
            .bill-clients-img {
                width: 2rem;
                height: 2rem;
                margin-right: 0.8rem;
            }
            .cta {
                padding: 0.5rem;
            }
        }
    }
}