.accout-details {
    background: #FFFFFF;
    /* Card 01 */
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    border: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .less-info {
        padding: 1.5rem;
        width: 100%;
        .acc-info{
            width: 89%;
          p{
              line-height: 24px;
          }
        }
        .btn {
            display: flex;
            justify-content: flex-start;
            padding: 0;
            svg{
                margin-left: 0.5rem;
            }
        }
    }
    .collapse-btn {
        width: 70%;
        background: #D6E0F0;
        border: none;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.02);
        border-radius: 40px;
        font-size: 10px;
        padding: 0.2rem;
        margin-bottom: 1.5rem;
    }
    .more-details {
        padding: 1.5rem;
        width: 100%;
        padding-bottom: 0;
        background: linear-gradient(180.29deg, rgba(243, 245, 250, 0.4) -22.34%, #F3F5FA 11.03%, rgba(243, 245, 250, 0) 20.35%);
        .balance{
            display: flex;
            justify-content: space-between;
            align-items: center;
            p{
                margin-bottom: 0;
            }
        }
        .text{
            display: block;
            line-height: 16px;
            margin-top: 0.5rem;
            span{
                font-weight: bold;
            }
        }
        .balance-info{
            label{
                display: flex;
                align-items: center;
                margin-bottom: 0;
                .cta{
                    margin-left: 0.5rem;
                }
            }
        }
    }
p{
    display: flex;
    align-items: flex-start;
    span{
        margin-top: 2px;
        margin-right: 2px;
    }
}

}