<div class="accout-details">

    <div class="less-info">

        <div class="acc-info">
            <label class="text-uppercase font-10 font-800 font-color mb-0">Account Name</label>
            <p class="font-20 font-color font-300">Swaminathan Rajaram</p>
        </div>

        <div class="acc-info">
            <label class="text-uppercase font-10 font-800 font-color mb-0">ACCOUNT Number</label>
            <p class="font-20 font-color font-300">001301095538</p>
        </div>

        <div class="acc-info">
            <label class="text-uppercase font-10 font-800 font-color mb-0">ifsc code</label>
            <p class="font-20 font-color font-300">ICIC0001961</p>
        </div>

        <div class="btn">
            <button class="cta blue-cta font-10 mr-3">View more
                    <svg width="5" height="8" viewBox="0 0 5 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.666504 1.32227L3.6665 4.32227L0.666504 7.32227" stroke="#4A87E2" stroke-width="1.5"/>
                        </svg>
            </button>

            <button class="cta blue-cta font-10">share
                    <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0)">
                        <path d="M8.22547 8.59901C8.22547 7.25248 8.22547 5.90594 8.22547 4.55941C8.5225 4.55941 8.81953 4.55941 9.11656 4.55941C9.11656 4.58911 9.11656 4.61881 9.11656 4.64852C9.11656 6.10396 9.11656 7.55941 9.11656 9.01485C9.11656 9.25248 8.96805 9.44059 8.78983 9.4802C8.74032 9.4901 8.69082 9.5 8.65122 9.5C5.96805 9.5 3.27498 9.5 0.591811 9.5C0.314583 9.5 0.136366 9.32178 0.126465 9.04455C0.126465 9.01485 0.126465 8.98515 0.126465 8.96535C0.126465 6.31188 0.126465 3.66832 0.126465 1.03465C0.126465 0.886139 0.146267 0.747525 0.265079 0.638614C0.344286 0.549505 0.433396 0.509901 0.542306 0.5C0.572009 0.5 0.611613 0.5 0.641316 0.5C2.07696 0.5 3.5225 0.5 4.95815 0.5C4.98785 0.5 5.02745 0.5 5.06706 0.5C5.06706 0.79703 5.06706 1.09406 5.06706 1.40099C3.72052 1.40099 2.38389 1.40099 1.02745 1.40099C1.02745 3.80693 1.02745 6.20297 1.02745 8.59901C3.42349 8.59901 5.81953 8.59901 8.22547 8.59901Z" fill="#548EE3"/>
                        <path d="M5.97803 1.40099C5.97803 1.09406 5.97803 0.806931 5.97803 0.5C6.00773 0.5 6.03743 0.5 6.06713 0.5C6.91862 0.5 7.78 0.5 8.63149 0.5C8.84931 0.5 8.99783 0.579208 9.08694 0.777228C9.10674 0.816832 9.11664 0.866337 9.11664 0.915842C9.11664 1.80693 9.11664 2.70792 9.11664 3.59901C9.11664 3.60891 9.11664 3.61881 9.10674 3.62871C8.80971 3.62871 8.52258 3.62871 8.21565 3.62871C8.21565 3.10396 8.21565 2.57921 8.21565 2.03465C6.681 3.59901 5.14634 5.13366 3.61169 6.66832C3.39387 6.45049 3.18595 6.24257 2.97803 6.03465C4.51268 4.5 6.04733 2.96535 7.58199 1.43069C7.58199 1.42079 7.57208 1.42079 7.57208 1.41089C7.03743 1.40099 6.51268 1.40099 5.97803 1.40099Z" fill="#4A87E2"/>
                        <rect x="4.62646" y="0.5" width="1.35175" height="0.908875" fill="#E4ECF9"/>
                        <rect x="8.21777" y="4.98828" width="1.35175" height="0.908875" transform="rotate(-90 8.21777 4.98828)" fill="#E4ECF9"/>
                        </g>
                        <defs>
                        <clipPath id="clip0">
                        <rect x="0.126465" y="0.5" width="9" height="9" fill="white"/>
                        </clipPath>
                        </defs>
                        </svg>
            </button>

        </div>

    </div>

    <div class="more-details" id="collapseExample" [ngbCollapse]="Collapsed_acc_details">
        <label class="font-10 font-800 text-uppercase font-color">monthly account balance</label>
        <div class="balance">
            <p class="font-28 font-maroon"><span class="font-12">₹</span>8,000</p>
            <button class="cta blue-cta font-10">ADD FUNDS</button>
        </div>
        <p class="font-11 font-gray-61 text">Is less than the Min monthly account balance that is <span class="font-bold">₹10,000</span></p>

        <div class="balance-info">
            <label class="font-10 font-800 text-uppercase font-color" for="">Cheques in clearing<span class="cta blue-cta">2</span></label>
            <p class="font-20 font-gray-61 font-300"><span class="font-12">₹</span>12,294</p>
        </div>

        <div class="balance-info">
            <label class="font-10 font-800 text-uppercase font-color" for="">Linked Fixed deposit</label>
            <p class="font-20 font-gray-61 font-300"><span class="font-12">₹</span>52,294</p>
        </div>

        <div class="balance-info">
            <label class="font-10 font-800 text-uppercase font-color" for="">Available to Spend</label>
            <p class="font-20 font-gray-61 font-300"><span class="font-12">₹</span>12,294</p>
        </div>

    </div>

    <button class="collapse-btn" (click)="Collapsed_acc_details = !Collapsed_acc_details" id="open_acc_more_details" [attr.aria-expanded]="!Collapsed_acc_details" aria-controls="collapseExample">
        <svg width="8" height="6" viewBox="0 0 8 6" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M6.87354 1L3.87353 4L0.873535 1" stroke="#4A87E2" stroke-width="1.5"/>
            </svg>
    </button>

</div>