*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    box-sizing: border-box;
    // font-family: helvetica-neue-regular;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-column-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.section-padding{
    padding: 0.5rem;
}

.inside-section-padding{
    padding: 0.5rem;
}

.hide{
    display: none;
}

.show{
    display: block;
}
