// fonts
h1 {
    font-size: 1rem;
}

h2 {
    font-size: 1rem;
    font-weight: 600;
}

h3 {
    font-size: 12px;
    font-weight: bold;
}

h4 {
    font-size: 13px;
    font-weight: 800;
}

h5 {
    font-size: 10px;
    font-weight: 800;
}

.font-8 {
    font-size: 8px;
    line-height: 12px;
    letter-spacing: 0.3px;
}

.font-9 {
    font-size: 9px;
    line-height: 12px;
    letter-spacing: 0.3px;
}

.font-10 {
    font-size: 0.625rem;
    line-height: 16px;
    letter-spacing: 0.3px;
}

.font-11 {
    font-size: 11px;
    line-height: 20px;
    letter-spacing: 0.48px;
}


.font-12 {
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.48px;
}


.font-13 {
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.48px;
}

.font-14 {
    font-size: 0.875rem;
    line-height: 20px;
    letter-spacing: 0.3px;
}

.font-16 {
    font-size: 1rem;
    line-height: 24px;
    letter-spacing: 0.2px;
}

.font-20 {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.3px;
}

.font-22 {
    font-size: 22px;
    line-height: 30px;
    letter-spacing: 0.3px;
}

.font-24 {
    font-size: 1.5rem;
    line-height: 30px;
    letter-spacing: 0.3px;
}

.font-28 {
    font-size: 28px;
    line-height: 30px;
    letter-spacing: 0.3px;
}

.font-30 {
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 0.3px;
}

.font-33 {
    font-size: 33px;
    line-height: 30px;
    letter-spacing: 0.3px;
}

.font-300 {
    font-weight: 300;
}

.font-400 {
    font-weight: 400;
}

.font-600 {
    font-weight: 600;
}

.font-bold {
    font-weight: 500;
}

.font-800 {
    font-weight: 800;
}

.color-blue {
    color: $blue;
}

.color-green {
    color: $green;
}

.color-text {
    color: $text-color;
}

.font-color {
    color: $gray;
}
.font-maroon {
    color: $maroon;
}
.font-green {
    color: $dark-green;
}
.font-yellow {
    color: $dark-yellow;
}

.font-gray-5D{
    color: #5D616C;
}

.font-gray-61{
    color:#616571 ;
}

.font-gray-9c{
    color:#9CA1B1 !important;
}

// .color-dark-gray {
//     color: $dark-gray;
// }
// .color-gray {
//     color: $gray;
// }
// .color-black {
//     color: $black;
// }
// .color-white{
//   color: $white;
// }
// .color-light-gray {
//     color: $light-gray;
// }
// .color-black-gray {
//     color: $black-gray;
// }
// .color-orange {
//     color: $orange;
// }