.account-type-box {
    padding: 0;

    .new-account {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0.5rem 0 0 1rem;
        justify-content: space-between;

        .link-account {
            width: 100%;
            height: 9rem;
            border: 1px dashed #4986E1;
            border-radius: 10px;
            .cta-element {
                display: inline-flex;
                padding: 0.8rem;
            }
        }
        .open-acc {
            margin-top: 1.8rem;
            padding: 1rem;
        }
    }
    .current-accounts {
        padding: 0.5rem;
        padding-bottom: 0;

            // .card{
            //     .account-no {
            //         display: flex;
            //         justify-content: space-between;
            //         align-items: center;
            //         p {
            //             margin-bottom: 0;
            //         }
            //     }
            //     .account-bal {
            //         margin: 1.5rem 0 0.5rem 0;
            //         h5 {
            //             font-weight: 800;
            //         }
            //     }
            // }
.line-for-active{
    position: absolute;
        transform: translate(-50%,0.6rem);
}
       
    }
    
        .savings {
            .account-no {
                p {
                    color: #7832D1;
                }
            }
        }
        .joint {
            .account-no {
                p {
                    color: #3E937D;
                }
            }
        }
        .dmet {
            .account-no {
                p {
                    color: #4B63D9;
                }
            }
        }
// }

.accordion{
    display: flex;
    width: 100%;
    display: flex;
    align-items: flex-start;
}
  ::ng-deep .card {
    width: 25%;
    margin: 0 0.5rem;
    box-shadow: 0px 7px 6px rgba(0, 0, 0, 0.03);
    border-radius: 10px !important;
    border: none;
    padding: 1.5rem 1.3rem;
 }

 ::ng-deep .card .card-header {
    padding: 0;
background: white;
border: none;
 }

 ::ng-deep .card .card-header .btn {
    width: 100%;
    padding: 0;
    border: none;
    text-decoration: none;
 }

 ::ng-deep .card .card-header .btn .account-no {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

::ng-deep .card .card-header .btn .account-no .cta {
    position: absolute;
    bottom: -1.3rem;
    right: 0;
}

::ng-deep .card .card-header .btn .account-no p {
    margin-bottom: 0;
    letter-spacing: 1.2px;
}

::ng-deep .card .card-header .btn .account-bal {
    margin: 1.5rem 0 0.5rem 0;
    text-align: start;
   
}

::ng-deep .card .card-header .btn .account-bal h5 {
    font-weight: 800;
        margin-bottom: 5px;
}

::ng-deep .card .card-header .btn .account-bal .card-bal-text {
   display: flex;
   align-items: flex-end;
   margin-bottom: 0.7rem;
}

::ng-deep .card .card-header .btn .account-bal p {
    margin-bottom: 0;
    display: flex;
    align-items: flex-start;
}

::ng-deep .card .card-header .btn .account-bal .rupee_sym {
margin-top: 1px;
margin-right:2px;
}

::ng-deep .card .card-header .btn .account-bal .unit {
margin-bottom: -3px;
margin-left:2px;
}

::ng-deep .card-body {
   padding: 0;
}
::ng-deep .card-body p{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
 }
 ::ng-deep .card-body .extra-info{
   text-align: center;
    }
}
