<div class="account-type-box container-fluid">
    <div class="row">

        <div class="new-account col-lg-2">
            <a href="#" class="link-account flex-column-center">
                <span class="cta-element mb-3">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="15.5732" y="6.89984" width="2.2" height="15.4" transform="rotate(90 15.5732 6.89984)" fill="#4A87E2"/>
                    <rect x="8.97314" y="15.7" width="2.2" height="15.4" transform="rotate(-180 8.97314 15.7)" fill="#4A87E2"/>
                </svg>    
                </span>
                <p class="font-10 color-blue">LINK ACCOUNT</p>
            </a>

            <a href="#" class="cta-element open-acc">
                <p class="font-10 color-blue mb-0">OPEN ACCOUNT</p>
                <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M11.6306 11.8276C7.54326 11.8276 0.510254 11.8276 0.510254 11.8276" stroke="#4986E1" stroke-width="0.789474" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M10.9812 5.67935C11.346 5.67935 11.5156 5.22685 11.2406 4.98709L6.30708 0.685421C6.15845 0.555829 5.93699 0.555798 5.78833 0.68535L0.85208 4.98702C0.576997 5.22674 0.746537 5.67935 1.11142 5.67935H10.9812Z" fill="#4986E1"/>
        <path d="M6.60031 11.6604C6.69645 10.8372 6.75508 9.76466 6.75508 8.58801C6.75508 7.4096 6.69626 6.33567 6.59987 5.51202H5.6513C5.55491 6.33567 5.49609 7.4096 5.49609 8.58801C5.49609 9.76466 5.55472 10.8372 5.65086 11.6604H6.60031Z" fill="#4986E1"/>
        <path d="M2.92307 11.6604C3.0192 10.8372 3.07783 9.76466 3.07783 8.58801C3.07783 7.4096 3.01902 6.33567 2.92263 5.51202H1.97405C1.87766 6.33567 1.81885 7.4096 1.81885 8.58801C1.81885 9.76466 1.87747 10.8372 1.97361 11.6604H2.92307Z" fill="#4986E1"/>
        <path d="M10.2776 11.6604C10.3737 10.8372 10.4323 9.76466 10.4323 8.58801C10.4323 7.4096 10.3735 6.33567 10.2771 5.51202H9.32854C9.23215 6.33567 9.17334 7.4096 9.17334 8.58801C9.17334 9.76466 9.23197 10.8372 9.3281 11.6604H10.2776Z" fill="#4986E1"/>
        </svg>
            </a>
        </div>

        <div class="current-accounts col-lg-10">

                <ngb-accordion [closeOthers]="true"  activeIds="config-panel-one">
                        <ngb-panel id="config-panel-one">
                                <ng-template ngbPanelTitle>
                                    <div class="savings">
                                        <div class="account-no">
                                                <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <circle cx="14" cy="14" r="14" fill="#F5E6FA"/>
                                        <path d="M20.1338 19.6313C15.3653 19.6313 7.16016 19.6313 7.16016 19.6313" stroke="#7832D1" stroke-width="0.789474" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M19.5515 12.4587C19.9164 12.4587 20.0859 12.0062 19.811 11.7665L13.8797 6.59478C13.731 6.46519 13.5096 6.46516 13.3609 6.59471L7.4263 11.7664C7.15122 12.0061 7.32076 12.4587 7.68563 12.4587H19.5515Z" fill="#7832D1"/>
                                        <path d="M14.2648 19.4358C14.377 18.4754 14.4454 17.2241 14.4454 15.8513C14.4454 14.4765 14.3768 13.2236 14.2643 12.2627H13.1576C13.0452 13.2236 12.9766 14.4765 12.9766 15.8513C12.9766 17.2241 13.045 18.4754 13.1571 19.4358H14.2648Z" fill="#7832D1"/>
                                        <path d="M9.97478 19.4358C10.0869 18.4754 10.1553 17.2241 10.1553 15.8513C10.1553 14.4765 10.0867 13.2236 9.97427 12.2627H8.86759C8.75514 13.2236 8.68652 14.4765 8.68652 15.8513C8.68652 17.2241 8.75492 18.4754 8.86708 19.4358H9.97478Z" fill="#7832D1"/>
                                        <path d="M18.5549 19.4358C18.667 18.4754 18.7354 17.2241 18.7354 15.8513C18.7354 14.4765 18.6668 13.2236 18.5543 12.2627H17.4477C17.3352 13.2236 17.2666 14.4765 17.2666 15.8513C17.2666 17.2241 17.335 18.4754 17.4472 19.4358H18.5549Z" fill="#7832D1"/>
                                        </svg>
                                                <p class="font-12 text-uppercase">001301095538</p>
                                                <button class="cta blue-cta font-10 text-uppercase">primary</button>
                                            </div>
                            
                                            <div class="account-bal">
                                                <h5 class="font-10 text-uppercase font-color">Savings</h5>
                                                <div class="card-bal-text">
                                                        <p class="font-28 font-300 font-color">
                                                            <span class="font-12 rupee_sym">₹</span>90.75</p>
                                                            <span class="font-20 font-300 font-color unit">lakhs</span>
                                                        </div>
                                            </div>
                                        </div>
                                      </ng-template>
                          <ng-template ngbPanelContent>
                                <div class="extra-info">
                                        <a href="#" class="cta blue-cta font-10">Atal Pension Yojana</a>
                                        <p class="font-12 font-color">₹1Crore cover @ ₹17/day</p>
                                          <svg class="line-for-active" width="65" height="4" viewBox="0 0 65 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <rect width="65" height="4" rx="2" fill="#E4ECF9"/>
                                         </svg>
                                    </div>
                          </ng-template>
                        </ngb-panel>

                        <ngb-panel>
                                <ng-template ngbPanelTitle>
                                        <div class="savings">
                                                <div class="account-no">
                                                    <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <circle cx="14" cy="14" r="14" fill="#F5E6FA"/>
                                            <path d="M20.1338 19.6313C15.3653 19.6313 7.16016 19.6313 7.16016 19.6313" stroke="#7832D1" stroke-width="0.789474" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M19.5515 12.4587C19.9164 12.4587 20.0859 12.0062 19.811 11.7665L13.8797 6.59478C13.731 6.46519 13.5096 6.46516 13.3609 6.59471L7.4263 11.7664C7.15122 12.0061 7.32076 12.4587 7.68563 12.4587H19.5515Z" fill="#7832D1"/>
                                            <path d="M14.2648 19.4358C14.377 18.4754 14.4454 17.2241 14.4454 15.8513C14.4454 14.4765 14.3768 13.2236 14.2643 12.2627H13.1576C13.0452 13.2236 12.9766 14.4765 12.9766 15.8513C12.9766 17.2241 13.045 18.4754 13.1571 19.4358H14.2648Z" fill="#7832D1"/>
                                            <path d="M9.97478 19.4358C10.0869 18.4754 10.1553 17.2241 10.1553 15.8513C10.1553 14.4765 10.0867 13.2236 9.97427 12.2627H8.86759C8.75514 13.2236 8.68652 14.4765 8.68652 15.8513C8.68652 17.2241 8.75492 18.4754 8.86708 19.4358H9.97478Z" fill="#7832D1"/>
                                            <path d="M18.5549 19.4358C18.667 18.4754 18.7354 17.2241 18.7354 15.8513C18.7354 14.4765 18.6668 13.2236 18.5543 12.2627H17.4477C17.3352 13.2236 17.2666 14.4765 17.2666 15.8513C17.2666 17.2241 17.335 18.4754 17.4472 19.4358H18.5549Z" fill="#7832D1"/>
                                            </svg>
                                                    <p class="font-12 text-uppercase">001301095538</p>
                                                </div>
                                
                                                <div class="account-bal">
                                                    <h5 class="font-10 text-uppercase font-color">Savings</h5>
                                                    <div class="card-bal-text">
                                                            <p class="font-28 font-300 font-color">
                                                                <span class="font-12 rupee_sym">₹</span>90.75</p>
                                                                <span class="font-20 font-300 font-color unit">lakhs</span>
                                                            </div>
                                                </div>
                                            </div>
                                      </ng-template>
                          <ng-template ngbPanelContent>
                                <div class="extra-info">
                                        <a href="#" class="cta blue-cta font-10">Atal Pension Yojana</a>
                                        <p class="font-12 font-color">₹1Crore cover @ ₹17/day</p>
                                          <svg class="line-for-active" width="65" height="4" viewBox="0 0 65 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <rect width="65" height="4" rx="2" fill="#E4ECF9"/>
                                         </svg>
                                    </div>
                          </ng-template>
                        </ngb-panel>

                        <ngb-panel>
                                <ng-template ngbPanelTitle>
                                        <div class="joint">
                                                <div class="account-no">
                                                        <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="14" cy="14" r="14" fill="#CFF3E9"/>
                                    <path d="M20.1338 19.6313C15.3653 19.6313 7.16016 19.6313 7.16016 19.6313" stroke="#3E937D" stroke-width="0.789474" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M19.5515 12.4587C19.9164 12.4587 20.0859 12.0062 19.811 11.7665L13.8797 6.59478C13.731 6.46519 13.5096 6.46516 13.3609 6.59471L7.4263 11.7664C7.15122 12.0061 7.32076 12.4587 7.68563 12.4587H19.5515Z" fill="#3E937D"/>
                                    <path d="M14.2648 19.4358C14.377 18.4754 14.4454 17.2241 14.4454 15.8513C14.4454 14.4765 14.3768 13.2236 14.2643 12.2627H13.1576C13.0452 13.2236 12.9766 14.4765 12.9766 15.8513C12.9766 17.2241 13.045 18.4754 13.1571 19.4358H14.2648Z" fill="#3E937D"/>
                                    <path d="M9.97478 19.4358C10.0869 18.4754 10.1553 17.2241 10.1553 15.8513C10.1553 14.4765 10.0867 13.2236 9.97427 12.2627H8.86759C8.75514 13.2236 8.68652 14.4765 8.68652 15.8513C8.68652 17.2241 8.75492 18.4754 8.86708 19.4358H9.97478Z" fill="#3E937D"/>
                                    <path d="M18.5549 19.4358C18.667 18.4754 18.7354 17.2241 18.7354 15.8513C18.7354 14.4765 18.6668 13.2236 18.5543 12.2627H17.4477C17.3352 13.2236 17.2666 14.4765 17.2666 15.8513C17.2666 17.2241 17.335 18.4754 17.4472 19.4358H18.5549Z" fill="#3E937D"/>
                                    </svg>
                                                        <p class="font-12 text-uppercase">001301095538</p>
                                                    </div>
                                    
                                                    <div class="account-bal">
                                                        <h5 class="font-10 text-uppercase font-color">JOINT</h5>
                                                        <div class="card-bal-text">
                                                                <p class="font-28 font-300 font-color">
                                                                    <span class="font-12 rupee_sym">₹</span>50.75</p>
                                                                    <span class="font-20 font-300 font-color unit">lakhs</span>
                                                                </div>                                           
                                                                     </div>
                                            </div>
                                      </ng-template>
                          <ng-template ngbPanelContent>
                                <div class="extra-info">
                                        <a href="#" class="cta blue-cta font-10">Atal Pension Yojana</a>
                                        <p class="font-12 font-color">₹1Crore cover @ ₹17/day</p>
                                          <svg class="line-for-active" width="65" height="4" viewBox="0 0 65 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <rect width="65" height="4" rx="2" fill="#E4ECF9"/>
                                         </svg>
                                    </div>
                          </ng-template>
                        </ngb-panel>

                        <ngb-panel>
                                <ng-template ngbPanelTitle>
                                        <div class="dmet">
                                                <div class="account-no">
                                                        <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="14" cy="14" r="14" fill="#DCE6FE"/>
                                    <path d="M6 11.981H21" stroke="#B4B8C7" stroke-width="0.7" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M8.33847 9L6 11.9804L13.5 21.5392L21 11.9804L18.6615 9H8.33847Z" fill="#4B63D9" stroke="#DCE6FE" stroke-width="0.7" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M11.6814 9.5127L10.7339 12.4019L13.7727 21.6681L16.8116 12.4019L15.8641 9.5127H11.6814Z" stroke="#DCE6FE" stroke-width="0.7" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                                        <p class="font-12 text-uppercase">001301095538</p>
                                                    </div>
                                    
                                                    <div class="account-bal">
                                                        <h5 class="font-10 text-uppercase font-color">DMEAT</h5>
                                                        <div class="card-bal-text">
                                                        <p class="font-28 font-300 font-color">
                                                            <span class="font-12 rupee_sym">₹</span>50.75</p>
                                                            <span class="font-20 font-300 font-color unit">lakhs</span>
                                                        </div>
                                                    </div>
                                            </div>
                                      </ng-template>
                          <ng-template ngbPanelContent>
                                <div class="extra-info">
                                        <a href="#" class="cta blue-cta font-10">Atal Pension Yojana</a>
                                        <p class="font-12 font-color">₹1Crore cover @ ₹17/day</p>
                                        <svg class="line-for-active" width="65" height="4" viewBox="0 0 65 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <rect width="65" height="4" rx="2" fill="#E4ECF9"/>
                                         </svg>

                                    </div>
                          </ng-template>
                        </ngb-panel>

                      </ngb-accordion> 

        </div>


    </div>
</div>