<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <a class="navbar-brand" href="#">
            <img src="assets/img/navbar/icici-logo.png" alt="">
        </a>
        <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02" [ngbCollapse]="isCollapsed">

            <div class="right-side-element">
                <div class="action-btn">
                    <a href="#" class="history"> <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="-0.5" y="0.5" width="24" height="24" rx="12" transform="matrix(-1 0 0 1 24 0)" fill="white" stroke="#D4D8E9"/>
                    <path d="M12 6L12.0001 14H19.0001" stroke="#71718E"/>
                    </svg></a>

                    <a href="#" class="white-cta back font-10"><svg width="6" height="9" viewBox="0 0 6 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4.68579 1L1.00008 4.6L4.68579 8.2" stroke="#71718E"/>
                    </svg>
                     Back</a>
                    <a href="#" class="white-cta next"><svg width="6" height="9" viewBox="0 0 6 9" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.743896 1L4.58318 4.6L0.743896 8.2" stroke="#71718E"/>
            </svg></a>
                </div>

                <div class="form-group search-box">
                    <svg class="search-icon-box" width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M16 16L12.375 12.375M14.3333 7.66667C14.3333 11.3486 11.3486 14.3333 7.66667 14.3333C3.98477 14.3333 1 11.3486 1 7.66667C1 3.98477 3.98477 1 7.66667 1C11.3486 1 14.3333 3.98477 14.3333 7.66667Z" stroke="#71718E" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
                    <input type="text" class="form-control search-bar font-12" placeholder="Search for payee, bills etc.">
                </div>
            </div>


            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="cta blue-cta font-10" href="#">RELATIONSHIP MANAGER</a>
                </li>
                <li class="nav-item">
                    <a class="cta blue-cta font-10" href="#">HELP</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><svg width="19" class="bell-icon" height="25" viewBox="0 0 19 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M7.23848 21.0859C7.18822 21.287 7.16309 21.4629 7.16309 21.6891C7.16309 22.9709 8.21864 24.0264 9.50039 24.0264C10.7821 24.0264 11.8377 22.9709 11.8377 21.6891C11.8377 21.4881 11.8126 21.287 11.7623 21.0859H7.23848Z" fill="#F29764"/>
                      <path d="M19 18.4974C18.9749 18.2963 18.8995 18.1204 18.7738 17.9696C18.7487 17.9444 16.7381 15.7579 16.7381 9.97751C16.7381 5.47884 13.7222 3.59392 11.2341 3.01587V1.70899C11.2341 0.7791 10.455 0 9.52513 0C8.59524 0 7.791 0.7791 7.791 1.70899V3.04101C5.30291 3.61905 2.28704 5.47884 2.28704 10.0026C2.28704 15.7831 0.276455 17.9696 0.251323 17.9696C0.100529 18.1204 0.0251323 18.2963 0 18.4974V20.0807H19V18.4974Z" fill="#F29764"/>
                      </svg>
                      <div class="badge">
                        <div class="message-count">7</div>
                      </div>
                    </a>
                      
                  </li>
                <li class="nav-item last-login">
                    <p class="font-10 font-gray-61">Last logged in</p>
                    <p class="font-10 font-gray-61">22 Mar 2020, 5:40pm</p>
                </li>
                <li class="nav-item">
                    <a class="cta maroon-cta font-10" href="#">LOGOUT</a>
                </li>
            </ul>

        </div>
    </nav>
</header>