header {
    width: 100%;
    nav{
        padding: 0.5rem 2rem;

        #navbarTogglerDemo02{
                justify-content: space-between;
                align-items: center;
.right-side-element{
    display: flex;
      align-items: center;

   .action-btn{
        display:flex;
        align-items:center;
  
            a{
               margin: 0.3rem; 
            }

            .back{
                svg{
                    margin-right: 0.5rem
                }
            }
            .next{
                padding: 0;
                width: 1.5rem;
                height: 1.5rem;
            }

    }
}


.navbar-brand{
    margin-bottom: 1rem;
    
}
    .navbar-nav{
        align-items: center;

        .nav-item{
            margin:0.8rem;
            p{
                margin-bottom: 0;
            }
            .bell-icon{
                position: relative;
            }
            .badge {
                position: absolute;
                transform: translate(11px, 27px);
                top: 0px;
                z-index: 10;
                background: #DC5A10;
                border-radius:15px;
                width: 18px;
                height: 18px;
                padding: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                
                .message-count {
                    font-size: 10px;
                    display: block;
                    text-align: center;
                    margin: 1px;
                    top: 2px;
                    color: #FFFFFF;
                  }
              }
        }

    }
        }

    }
 .last-login{
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    p{
        line-height: 12px;
    }
 }

    .search-box {
        margin: 0rem 1rem; 
    }
   
}