.sidenav{
    color: #414141;
    width: 75px;  
    height: 100vh;
    background-color: white;
    top:64px;
    left: 0;
    transition: width .1s ;
    top: 4rem;
    padding-top: 1rem;
    font-size: 10px;
    cursor: pointer;
    z-index: 1; 
    &:hover{
        width: 239px;  
        background-color:  rgba(249, 250, 253, 1);
        .active{
            background: #E1E6EC;
            h6{
                font-weight: bold;
            }
        }
    }
    &:hover &-icon-box:hover{
        background-color: white;
        h6{
            font-weight: bold;
        }
        }
    &:hover &-icon-box .sidenav-text{
        opacity: 1;
        visibility: visible;
        padding-left: 20px;    
    }
    &-icon-box{
        transition: background-color .2s ease;
        height: 55px;
        padding-left: 14px;
         svg{
            min-width: 45px;
            min-height: 45px;
            border: 4px solid transparent;
            border-radius: 100px;
            // box-shadow: 0px 5px 20px rgba(#000,0.1);
         }
       .sidenav-text {        
            visibility: hidden;
            opacity: 0;
            transition: opacity .5s;
         }   
    }

    .active.overview{
        svg{
            border: 4px solid white;
            box-shadow: 0px 5px 20px rgba(#000,0.1);
            circle{
                fill: #DC5A10;
            }
            path{
                fill: #F8EFE2;
            }
 
        }
    }

    .active.accounts{
        svg{
            border: 4px solid white;
            box-shadow: 0px 5px 20px rgba(#000,0.1);
            circle{
                fill: #5E43F6;
            }
            .mid-class{
                fill: #E9E4F9;
                stroke: #E9E4F9;
            }
            .last-class{
                stroke:#5E43F6;
            }
 
        }
    }
    .active.payments{
        svg{
            border: 4px solid white;
            box-shadow: 0px 5px 20px rgba(#000,0.1);
            circle{
                fill: #E19045;
            }
            path{
                fill: #F8EFE2;
            }
            .mid-class{
                fill: #E19045;
            }
 
        }
    }

    .active.deposits{
        svg{
            border: 4px solid white;
            box-shadow: 0px 5px 20px rgba(#000,0.1);
            circle{
                fill: #5AC462;
            }
            path{
                fill: #CFEFDA;
            }
            .mid-class{
                stroke: #5AC462;
            }
 
        }
    }

    .active.cards{
        svg{
            border: 4px solid white;
            box-shadow: 0px 5px 20px rgba(#000,0.1);
            circle{
                fill: #3F5EF5;
            }
            .last-class{
                fill: #E6E9F9;
            }
            .mid-class{
                stroke: #E6E9F9;
            }
 
        }
    }

    .active.investments{
        svg{
            border: 4px solid white;
            box-shadow: 0px 5px 20px rgba(#000,0.1);
            circle{
                fill: #E19045;
            }
            path{
                fill: #F8EFE2;
            }
            .mid-class{
                fill: #E19045;
            }
            .arrow{
                stroke: #F8EFE2;
            }
 
        }
    }

    .active.loans{
        svg{
            border: 4px solid white;
            box-shadow: 0px 5px 20px rgba(#000,0.1);
            circle{
                fill: #31C6D8;
            }
            path{
                fill: #E6F7F9;
            }
            .mid-class{
                stroke: #E6F7F9;
            }
 
        }
    }

    .active.insurance{
        svg{
            border: 4px solid white;
            box-shadow: 0px 5px 20px rgba(#000,0.1);
            circle{
                fill: #CF5EF7;
            }
            path{
                fill: #EFCFEC;
            }
            .mid-class{
                fill: #CF5EF7;
            }
 
        }
    }

    .active.shopping{
        svg{
            border: 4px solid white;
            box-shadow: 0px 5px 20px rgba(#000,0.1);
            circle{
                fill: #3458F5;
            }
            path{
                fill: #D5DBF8;
                stroke: #3458F5;
            }
 
        }
    }

    .active.health{
        svg{
            border: 4px solid white;
            box-shadow: 0px 5px 20px rgba(#000,0.1);
            circle{
                fill: #E14C3B;
            }
            path{
                fill: #F4D6D4;
                stroke: #F4D6D4;
            }
 
        }
    }
}
