
<div class="sidenav text-uppercase position-fixed">  
    <div class="sidenav-icon-box d-flex align-items-center overview">
        <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="17.5" cy="17.5" r="17.5" fill="#F8EFE2"/>
            <path d="M21.3696 11.2376L17.5005 7.36841L13.6313 11.2376L17.5005 15.1067L21.3696 11.2376Z" fill="#DC5A10"/>
            <path d="M21.3696 23.3977L17.5005 19.5286L13.6313 23.3977L17.5005 27.2669L21.3696 23.3977Z" fill="#DC5A10"/>
            <path d="M15.2895 17.3177L11.4204 13.4485L7.55125 17.3177L11.4204 21.1868L15.2895 17.3177Z" fill="#DC5A10"/>
            <path d="M27.4497 17.3176L23.5806 13.4485L19.7114 17.3176L23.5806 21.1868L27.4497 17.3176Z" fill="#DC5A10"/>
            </svg>
       <div class="sidenav-text">
         <h6 class="font-10 mb-0">overview</h6>
       </div>
    </div>

    <div class="sidenav-icon-box d-flex align-items-center accounts active">
        <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="17.5" cy="17.5" r="17.5" fill="#E9E4F9"/>
            <path d="M9.72229 14.6804H25.1476" stroke="#B4B8C7" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
            <path class="mid-class" d="M12.1271 11.6155L9.72229 14.6804L17.4349 24.5102L25.1476 14.6804L22.7428 11.6155H12.1271Z" fill="#5E43F6" stroke="#5E43F6" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
            <path class="last-class" d="M15.3331 10.6943L14.328 13.9782L17.5517 24.5101L20.7754 13.9782L19.7702 10.6943H15.3331Z" stroke="#E9E4F9" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
       <div class="sidenav-text">
         <h6 class="font-10 mb-0">accounts</h6>
       </div>

   </div>

   <div class="sidenav-icon-box d-flex align-items-center payments">
    <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="17.5" cy="17.5" r="17.5" fill="#F8EFE2"/>
        <path d="M17.2704 23.7172C20.7041 23.7172 23.4876 20.9337 23.4876 17.5001C23.4876 14.0665 20.7041 11.283 17.2704 11.283C13.8368 11.283 11.0533 14.0665 11.0533 17.5001C11.0533 20.9337 13.8368 23.7172 17.2704 23.7172Z" fill="#E19045" stroke="#E19045" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path class="mid-class" d="M17.3118 20.6087L15.6576 17.8746V17.2302H16.209C16.5337 17.2302 16.8064 17.1635 17.0269 17.03C17.2475 16.8906 17.3884 16.6991 17.4497 16.4553H15.6576V15.8109H17.4405C17.3854 15.5903 17.272 15.4075 17.1005 15.2623C16.9289 15.1114 16.69 15.036 16.3836 15.036H15.6576V14.3916H19.8024V15.036H18.3595C18.5739 15.2565 18.7087 15.5149 18.7639 15.8109H19.8024V16.4553H18.7823C18.721 16.8848 18.5464 17.2215 18.2584 17.4653C17.9705 17.7033 17.5998 17.8659 17.1464 17.9529L18.9477 20.6087H17.3118Z" fill="white"/>
        <path d="M23.95 9.31441C23.7828 9.49864 23.4912 9.51574 23.2987 9.3526C19.4557 6.09483 13.6128 6.43753 10.2742 10.1165C8.75295 11.7929 7.95437 13.9658 8.01675 16.1866L9.38974 15.0148C9.57993 14.8526 9.87171 14.8712 10.0416 15.0561C10.2114 15.241 10.1947 15.5202 10.005 15.6851L7.93978 17.4476C7.92392 17.4611 7.90411 17.4659 7.88695 17.477C7.86707 17.4902 7.84708 17.5013 7.82497 17.5114C7.7929 17.5256 7.7613 17.5356 7.72733 17.5422C7.71233 17.5454 7.70009 17.554 7.68451 17.5557C7.67045 17.5573 7.65778 17.5521 7.64387 17.5525C7.61604 17.5529 7.58979 17.5503 7.56229 17.5459C7.52585 17.5405 7.4918 17.5328 7.45832 17.5196C7.44148 17.5128 7.42628 17.5044 7.41022 17.4957C7.37012 17.4742 7.33493 17.449 7.30295 17.4173C7.29843 17.4128 7.29223 17.411 7.28788 17.4063L5.44217 15.3961C5.2856 15.2256 5.28734 14.9729 5.43753 14.8074C5.45024 14.7934 5.46395 14.7799 5.47883 14.7672C5.66902 14.605 5.96081 14.6235 6.13073 14.8085L7.09261 15.8562C7.11241 13.5349 7.98309 11.2824 9.5772 9.52571C13.2497 5.47872 19.6768 5.10176 23.9042 8.68538C24.0967 8.84852 24.1172 9.13017 23.95 9.31441Z" fill="#E19045"/>
        <path d="M10.9943 25.9196C11.1556 25.7305 11.4469 25.7043 11.645 25.861C15.6001 28.9914 21.4379 28.4661 24.6581 24.6902C26.1254 22.9697 26.8528 20.7763 26.7168 18.5621L25.3812 19.7745C25.1962 19.9423 24.9034 19.933 24.7272 19.7537C24.5649 19.5883 24.5582 19.3362 24.703 19.1664C24.7153 19.152 24.7286 19.1382 24.7431 19.125L26.7521 17.3014C26.7674 17.2875 26.7868 17.2822 26.8035 17.2707C26.8232 17.2567 26.8431 17.2448 26.8652 17.2338C26.8967 17.2188 26.9278 17.208 26.9614 17.2003C26.9764 17.1967 26.9884 17.1877 27.004 17.1855C27.018 17.1834 27.0309 17.1882 27.0448 17.1874C27.0726 17.1861 27.099 17.1879 27.1267 17.1914C27.1633 17.1957 27.1977 17.2023 27.2316 17.2145C27.2487 17.2207 27.2642 17.2286 27.2806 17.2368C27.3214 17.2569 27.3575 17.281 27.3906 17.3117C27.3952 17.316 27.4015 17.3176 27.406 17.3222L29.3203 19.2702C29.4964 19.4493 29.4896 19.7276 29.3045 19.899C29.1194 20.0667 28.8267 20.0574 28.6505 19.8782L27.6529 18.8628C27.71 21.1799 26.913 23.455 25.3754 25.2579C21.8331 29.4116 15.4117 29.9893 11.061 26.5458C10.8629 26.3891 10.8331 26.1087 10.9943 25.9196Z" fill="#E19045"/>
        </svg>
       
     <div class="sidenav-text">
       <h6 class="font-10 mb-0">payments &transfers</h6>
     </div>
   </div>

   <div class="sidenav-icon-box d-flex align-items-center deposits">
    <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="17.5" cy="17.5" r="17.5" fill="#CFEFDA"/>
        <path d="M20.4851 13.0223L21.9859 10.5509C22.7247 9.33438 21.8489 7.77783 20.4256 7.77783H14.5741C13.1508 7.77783 12.275 9.33438 13.0138 10.5509L14.5146 13.0223" fill="#5AC462"/>
        <path d="M20.4851 13.0223L21.9859 10.5509C22.7247 9.33438 21.8489 7.77783 20.4256 7.77783H14.5741C13.1508 7.77783 12.275 9.33438 13.0138 10.5509L14.5146 13.0223" stroke="#CFEFDA" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path class="mid-class" d="M19.538 27.1612C23.7341 27.1612 26.5811 22.7327 24.6721 18.996C24.6577 18.9677 24.6431 18.9395 24.6283 18.9114L22.7689 15.37C21.7408 13.412 19.7116 12.1855 17.5001 12.1855H17.5001C15.2885 12.1855 13.2594 13.412 12.2313 15.37L10.3718 18.9114C10.357 18.9395 10.3424 18.9677 10.328 18.996C8.41899 22.7327 11.2661 27.1612 15.4622 27.1612H19.538Z" fill="#5AC462" stroke="#CFEFDA" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
       
    <div class="sidenav-text">
     <h6 class="font-10 mb-0">deposits</h6>
    </div>
   </div>

   <div class="sidenav-icon-box d-flex align-items-center cards">
    <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="17.5" cy="17.5" r="17.5" fill="#E6E9F9"/>
        <path class="mid-class" d="M9.78064 16.4825H26.2047M11.2737 12.0032H24.7116C25.5362 12.0032 26.2047 12.6717 26.2047 13.4963V22.4548C26.2047 23.2795 25.5362 23.9479 24.7116 23.9479H11.2737C10.4491 23.9479 9.78064 23.2795 9.78064 22.4548V13.4963C9.78064 12.6717 10.4491 12.0032 11.2737 12.0032Z" stroke="#3F5EF5" stroke-linecap="round" stroke-linejoin="round"/>
        <path class="last-class" d="M9.21048 15.0527C9.21048 13.1671 9.21048 12.2243 9.79627 11.6385C10.3821 11.0527 11.3249 11.0527 13.2105 11.0527H22.6933C24.5789 11.0527 25.5217 11.0527 26.1075 11.6385C26.6933 12.2243 26.6933 13.1671 26.6933 15.0527V16.0885H9.21048V15.0527Z" fill="#3F5EF5"/>
        </svg>
       
       <div class="sidenav-text">
     <h6 class="font-10 mb-0">Credit cards</h6>
    </div>
   </div>
  
   <div class="sidenav-icon-box d-flex align-items-center investments">
    <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="17.5" cy="17.5" r="17.5" fill="#F8EFE2"/>
        <path d="M17.5001 23.7169C20.9337 23.7169 23.7172 20.9334 23.7172 17.4998C23.7172 14.0662 20.9337 11.2827 17.5001 11.2827C14.0665 11.2827 11.283 14.0662 11.283 17.4998C11.283 20.9334 14.0665 23.7169 17.5001 23.7169Z" fill="#E19045" stroke="#E19045" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path class="arrow" d="M9.21054 12.0606L9.21297 9.21045L12.0607 9.21046" stroke="#E19045" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path class="arrow" d="M9.21259 9.21045L14.3259 14.3238" stroke="#E19045" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path class="arrow" d="M25.7893 22.9392L25.7868 25.7894L22.9391 25.7893" stroke="#E19045" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path class="arrow" d="M25.7871 25.7889L20.6734 20.6753" stroke="#E19045" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path class="arrow" d="M22.9394 9.21045L25.7895 9.21288L25.7895 12.0606" stroke="#E19045" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path class="arrow" d="M25.7895 9.2124L20.6761 14.3258" stroke="#E19045" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path class="arrow" d="M12.0608 25.7893L9.21069 25.7869L9.21071 22.9392" stroke="#E19045" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path class="arrow" d="M9.21063 25.787L14.3243 20.6733" stroke="#E19045" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path class="mid-class" d="M17.082 20.6085L15.4277 17.8743V17.23H15.9791C16.3039 17.23 16.5765 17.1632 16.7971 17.0297C17.0176 16.8904 17.1585 16.6988 17.2198 16.455H15.4277V15.8107H17.2106C17.1555 15.5901 17.0421 15.4072 16.8706 15.2621C16.699 15.1112 16.4601 15.0357 16.1538 15.0357H15.4277V14.3914H19.5725V15.0357H18.1296C18.3441 15.2563 18.4788 15.5146 18.534 15.8107H19.5725V16.455H18.5524C18.4911 16.8846 18.3165 17.2213 18.0285 17.4651C17.7406 17.7031 17.3699 17.8656 16.9165 17.9527L18.7178 20.6085H17.082Z" fill="white"/>
        </svg>
       
    <div class="sidenav-text">
     <h6 class="font-10 mb-0">investments</h6>
    </div>
   </div>

   <div class="sidenav-icon-box d-flex align-items-center loans">
        <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="17.5" cy="17.5" r="17.5" fill="#E6F7F9"/>
        <path class="mid-class" d="M25.5062 25.7893C19.7511 25.7893 9.8483 25.7893 9.8483 25.7893" stroke="#31C6D8" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M24.7749 16.823C25.2327 16.823 25.4498 16.2588 25.11 15.952L17.9799 9.51299C17.7896 9.34114 17.5001 9.3411 17.3098 9.5129L10.1757 15.9519C9.83581 16.2587 10.0528 16.823 10.5107 16.823H24.7749Z" fill="#31C6D8"/>
        <path d="M18.4229 25.5452C18.5583 24.3448 18.6408 22.7806 18.6408 21.0647C18.6408 19.3461 18.558 17.78 18.4223 16.5789H17.0867C16.9509 17.78 16.8681 19.3461 16.8681 21.0647C16.8681 22.7806 16.9507 24.3448 17.086 25.5452H18.4229Z" fill="#31C6D8"/>
        <path d="M13.2452 25.5452C13.3806 24.3448 13.4631 22.7806 13.4631 21.0647C13.4631 19.3461 13.3803 17.78 13.2446 16.5789H11.909C11.7732 17.78 11.6904 19.3461 11.6904 21.0647C11.6904 22.7806 11.773 24.3448 11.9083 25.5452H13.2452Z" fill="#31C6D8"/>
        <path d="M23.6007 25.5452C23.7361 24.3448 23.8186 22.7806 23.8186 21.0647C23.8186 19.3461 23.7358 17.78 23.6001 16.5789H22.2644C22.1287 17.78 22.0459 19.3461 22.0459 21.0647C22.0459 22.7806 22.1284 24.3448 22.2638 25.5452H23.6007Z" fill="#31C6D8"/>
        </svg>
       
   <div class="sidenav-text">
     <h6 class="font-10 mb-0">loans</h6>
   </div>
   </div>

   <div class="sidenav-icon-box d-flex align-items-center insurance">
    <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="17.5" cy="17.5" r="17.5" fill="#EFCFEC"/>
        <path d="M20.5847 10H15.0653C14.3123 11.9687 12.7788 13.3192 11 13.3192V17.4732C11 21.3128 13.3728 24.753 16.9619 26.117L18.1773 26.5789L18.9922 26.2353C22.4188 24.7905 24.6466 21.4335 24.6466 17.7147V13.3192C22.8712 13.3192 21.3377 11.9687 20.5847 10Z" fill="#CF5EF7" stroke="#CF5EF7" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path class="mid-class" d="M17.3373 21.8423L15.4467 18.7176V17.9812H16.0769C16.448 17.9812 16.7596 17.9049 17.0117 17.7523C17.2638 17.5931 17.4248 17.3742 17.4948 17.0955H15.4467V16.3591H17.4843C17.4213 16.107 17.2918 15.8981 17.0957 15.7322C16.8997 15.5597 16.6266 15.4735 16.2765 15.4735H15.4467V14.7371H20.1836V15.4735H18.5346C18.7797 15.7256 18.9337 16.0208 18.9968 16.3591H20.1836V17.0955H19.0178C18.9477 17.5865 18.7482 17.9712 18.4191 18.2499C18.09 18.5219 17.6664 18.7076 17.1482 18.8072L19.2068 21.8423H17.3373Z" fill="white"/>
        </svg>
       
  <div class="sidenav-text">
   <h6 class="font-10 mb-0">insurance</h6>
  </div>
   </div>

   <div class="sidenav-icon-box d-flex align-items-center shopping">
        <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="17.5" cy="17.5" r="17.5" fill="#D5DBF8"/>
        <path d="M12.5725 9.21045L10.2238 12.342V23.3026C10.2238 23.7178 10.3888 24.1161 10.6824 24.4097C10.976 24.7034 11.3743 24.8683 11.7896 24.8683H22.7501C23.1654 24.8683 23.5636 24.7034 23.8573 24.4097C24.1509 24.1161 24.3159 23.7178 24.3159 23.3026V12.342L21.9672 9.21045H12.5725Z" fill="#3458F5"/>
        <path d="M20.4014 15.4736C20.4014 16.3042 20.0715 17.1007 19.4842 17.688C18.8969 18.2753 18.1004 18.6052 17.2698 18.6052C16.4393 18.6052 15.6428 18.2753 15.0555 17.688C14.4682 17.1007 14.1383 16.3042 14.1383 15.4736" fill="#3458F5"/>
        <path d="M10.2238 12.342L12.5725 9.21045H21.9672L24.3159 12.342M10.2238 12.342V23.3026C10.2238 23.7178 10.3888 24.1161 10.6824 24.4097C10.976 24.7034 11.3743 24.8683 11.7896 24.8683H22.7501C23.1654 24.8683 23.5636 24.7034 23.8573 24.4097C24.1509 24.1161 24.3159 23.7178 24.3159 23.3026V12.342M10.2238 12.342H24.3159M20.4014 15.4736C20.4014 16.3042 20.0715 17.1007 19.4842 17.688C18.8969 18.2753 18.1004 18.6052 17.2698 18.6052C16.4393 18.6052 15.6428 18.2753 15.0555 17.688C14.4682 17.1007 14.1383 16.3042 14.1383 15.4736" stroke="#D5DBF8" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M10.2238 12.342L12.5725 9.21045H21.9672L24.3159 12.342H10.2238Z" fill="#3458F5" stroke="#D5DBF8" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
       
  <div class="sidenav-text">
   <h6 class="font-10 mb-0">shopping</h6>
  </div>
   </div>

   <div class="sidenav-icon-box d-flex align-items-center health">
       <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="17.5" cy="17.5" r="17.5" fill="#F4D6D4"/>
        <path d="M12.9042 19.4045H10.7943V23.9474H12.9042V19.4045Z" fill="#E14C3B" stroke="#E14C3B" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M16.4449 17.6611H14.3351V23.9476H16.4449V17.6611Z" fill="#E14C3B" stroke="#E14C3B" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M19.9852 15.5503H17.8753V23.9472H19.9852V15.5503Z" fill="#E14C3B" stroke="#E14C3B" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M23.7486 13.4165H21.6387V23.9475H23.7486V13.4165Z" fill="#E14C3B" stroke="#E14C3B" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M9.99557 17.926L23.711 8.90649" stroke="#E14C3B" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M23.118 11.5446L23.71 8.90241L21.1575 8.28955" stroke="#E14C3B" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M9.2106 23.9475H24.4947" stroke="#E14C3B" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
       
  <div class="sidenav-text">
   <h6 class="font-10 mb-0">FINANCIAL HEALTH</h6>
  </div>
   </div>

</div>