            button{
                &:focus{
                    outline: none;
                }
            }
            .white-cta {
                padding: 0.3rem 0.8rem;
                border-radius: 2em;
                border: 1px solid $cta-border-color;
                color: $text-color;
                display: flex;
                justify-content: center;
                align-items: center;
                &:focus {
                    outline: none;
                }
            }
            
            .cta {
                letter-spacing: 1px;
                padding: 0.2rem 0.8rem;
                border-radius: 2em;
                border: none;
                display: flex;
                justify-content: center;
                align-items: center;
                &:focus {
                    outline: none;
                }
                &:hover {
                    text-decoration: none;
                }
             
            }
            
            .cta-element {
                background: #ffffff;
                box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.04);
                border-radius: 2em;
                padding: 0.5rem;
                display: flex;
                align-items: center;
                display: inline-flex;
                &:hover {
                    text-decoration: none;
                }
            }
            
            button:disabled,
            button[disabled] {
                background: #B4B8C7;
                cursor: no-drop;
            }

            .blue-filled-cta{
                background: $blue;
                color: $white;
            }
            
            .blue-cta {
                color: $blue;
                background: $blue-background;
                &:hover{
                    background: $blue;
                    color: white;

                    svg{
                        path{
                            stroke: white;
                        }
                    }
                }
        
            }

            .gray-cta {
                color: $text-color;
                background: $gray-background;
                svg{
                    margin-left: 0.5rem;
                }
            }
            
            .maroon-cta {
                color: $maroon;
                background: $maroon-background;
            }
            
            .green-cta {
                color: $green;
                background: $green-background;
            }

            .border-cta-white{
                background: #FCFDFD;
                border: 1px solid #C3D4F0;
                color: #616571;
            }
            .border-cta-blue{
                background: #E4ECF9;
                border: 1px solid #C3D4F0;
                color: $blue;
            }
            .link-btn{
                color: #414141;
                text-decoration:underline;
            }