.search-box{
    position: relative;
    .search-icon-box{
        position: absolute;
        z-index: 2;
        // display: block;
        top: 0.6rem;
        left: 18px;      
          width: 10px;
        transform: scale(1.7);
    }
    .search-bar{
        position: relative;
        border-radius: 25px;
        font-size: 12px;
        height: 2.5rem;

        width: 16rem;
        outline: none;
        background: #F3F4F8;
        border: 1px solid #D4D8E9;
        padding-left: 2.5rem;
        box-shadow: inset 0px 2px 11px rgba(0, 0, 0, 0.05);
        
        ::placeholder{
            font-size: 11px;
            // margin-left: 2rem;         
         }
    }
}
