.select {
    border: none;
    background-color: $white;
    -webkit-appearance: none;
    box-sizing: border-box;
    border: 1px solid transparent;
    width: 4rem;
    font-size: 16px;
    padding: 0.8rem;
    border: 1px solid #CAD9F2;
    border-radius: 5px 0 0 5px;
    color: #7A7A86;
    height: 3.2rem;
    cursor: pointer;

    &:focus{
        outline: none;
    }
}

.arrow-icon{
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translate(-50%, -40%);
}