.goals-service{
    display: flex;
    width: 200%;

    .goals-box {
        background: #FFFFFF;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
        border-radius: 12px;
        display: flex;
        margin-right: 0.8rem;

        .main-div {
            padding: 1.5rem;    
            width: 100%;
            .label {
                display: flex;
                align-items: center;
                margin-bottom: 1rem;
                label {
                    margin-bottom: 0;
                    margin-right: 1rem;
                }
            }
            .goals {
                display: flex;
                .goal {
                    width: 25%;
                    margin: 0 0.5rem;
                    border-radius: 10px;
                    padding: 1rem 0.45rem;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                    img{
                        width: 2.5rem;
                        width: 2.5rem;
                        height: 2.5rem;
                        margin-bottom: 0.8rem;
                    }
                    p{
                        letter-spacing: 0.4px;
                        line-height: 14px;
                    }
                }
                .bank_balance {
                    background: #71DCB5;
                    margin-left: 0;
                    p {
                        color: #10734F;
                        margin-bottom: 0;
                    }
                }
                .vacation {
                    background: #5EB2F8;
                    p {
                        color: #0C4E85;
                        margin-bottom: 0;
                    }
                }
                .education {
                    background: #FF7CAB;
                    p {
                        color: #940A1C;
                        margin-bottom: 0;
                    }
                }
                .make_your_own {
                    margin-right: 0;
                    background: #F9C43C;
                    p {
                        color: #8C5D07;
                        margin-bottom: 0;
                    }
                }
            }
        }
        .collapse-btn {
            background: #D6E0F0;
            border: none;
            box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.02);
            border-radius: 40px;
            font-size: 10px;
            padding: 0.5rem;
            margin: 0.5rem;
            margin-left: 0;
            display: none;
        }
&:hover{
    .collapse-btn {
        display: block;
    }
    .main-div{
        padding-right: 0.8rem;
    }
}

.more-details{
    .pills{
        display: flex;
        height: 100%;

      .details{
            display: flex;
            height: 100%;
            .form-box{
                padding: 1.2rem 2rem 0 3rem;
                width: 60%;
                label{
                    margin-bottom: 0.2rem;
                }
                .input-box{
                    input{
                        background: #FCFDFD;
                        border: 1px solid #C3D4F0;
                        border-radius: 2em;
                        padding: 0.2rem 1rem;
                        width: 12rem;
                    }
                    p{
                        color: #898B90;
                        margin-top: 0.5rem
                    }
                }
                .btn-box{
                    .grp-cta{
                        display: flex;
                        .cta{
                            margin-right: 0.5rem;
                            padding: 0.2rem 0.8rem;
                        }
                    }
                    p{
                        font-size: 9px;
                        color: #4A87E2;
                        margin-bottom: 0;
                        text-align: end;
                    }
                }
               }
               .suggested-box{
                width: 50%;
                background: linear-gradient( to right, rgba(243, 245, 250, 0.28) -22.34%, rgba(243, 245, 250, 0.7) 11.03%, rgba(243, 245, 250, 0) 23.35%);
                border-radius: 12px;
                padding: 1.2rem 0rem 0 2.5rem;
                .amount{
                    display: flex;
                    p{
                        margin-right: 0.5rem;
                        margin-bottom: 0;
                    }
                    a{
                        line-height: 18px;
                    }
                }
                .message-box{
                    width: 90%;
                    padding: 0.8rem;
                    background: #D0F2E6;
                    border-radius: 10px;
                    margin: 0.8rem 0;
                    p{
                        line-height: 14px;
                        margin-bottom: 0;
                        color: #10734F;
                        letter-spacing: 0.3px;
                    }
                }
                .cta{
                    letter-spacing: 1.3px;
                }

               }
        }
    }

}        
    }
    .open_goal{
        width: 49%;
        display: flex;
        justify-content: space-between;
    }
    .cloase_goal{
        width: auto;
    }
    .changed_goal{
        width: 9%;
        .main-div{
            padding: 1.5rem 0.8rem 1.5rem 0;
            .label{
                display: none;
            }
            .goals{
                flex-direction: column;
                .goal{
                    width: 100%;
                    padding: 0.5rem 0.8rem;
                    border-radius: 0 2em 2em 0;
                    margin: 0 0 0.8rem 0;
                    align-items: flex-start;

                    p{
                        color: white;
                    }

                    img{
                        display: none;  
                    }
                }
            }
        }

    }
    
    .service-request-section {
        background: #FFFFFF;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
        border-radius: 12px;
        display: flex;
        width: 23%;

        .main-div {
            padding: 1.5rem 1rem 1rem 1rem;    
            .label {
                display: flex;
                align-items: center;
                label {
                    margin-bottom: 0;
                    margin-right: 1rem;
                }
            }
            .request-info {
                .service {
                    display: flex;
                    align-items: flex-start;
                    justify-content: space-between;
                    margin: 0.5rem 0;
                    .card-service {
                        display: flex;
                        align-items: flex-start;
                        width: 70%;

                        svg {
                            margin-right: 0.5rem;
                            margin-top: 0.2rem;
                        }
                        .details {
                            width: 70%;
                            label {
                                color: #616571;
                                margin-bottom: 0;
                                font-weight: bold;
                                line-height: 16px;
                            }
                            p {
                                color: #898B90;
                                margin-bottom: 0;
                                font-size: 11px;
                            }
                        }
                    }
                    .date {
                        color: #898B90;
                        font-size: 11px;
                        margin-bottom: 0;
                    }
                }
            }
        }
        .more-details{
            padding: 1.5rem 1rem 1rem 1rem;    
            width: 50%;
            .generate-pin-div{
                display: flex;
                justify-content: space-between;
                align-items: center;
                p{
                    margin-bottom: 0;
                }
                .cta{
                    svg{
                        margin-left: 0.5rem;
                    }
                }
            }
            .top-services{
                display: flex;
                flex-wrap: wrap;
                .service{
                  width: 50%;   
                  display: flex;
                  align-items: center;
                  padding-right: 0.5rem;
                  padding-bottom: 0.5rem; 
                  p{
                      margin-bottom: 0;
                  }
                  img{
                      margin-right: 0.5rem;
                  }
                }
            }
        }
        .collapse-btn {
            background: #D6E0F0;
            border: none;
            box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.02);
            border-radius: 40px;
            font-size: 10px;
            padding: 0.5rem;
            margin: 0.5rem;
            margin-right: 0;
            display: none;
        }
&:hover{
    .collapse-btn {
        display: block;
    }
}
    }
    .open_services{
        width: 40%;
        .main-div{
            width: 48%;
        }
    }
}

::ng-deep .goals-box .nav-pills{
  margin-top: 1rem;
  width: 23%;

}

::ng-deep .goals-box .nav-item .nav-link{
    background: white;
    padding: 0;
}

::ng-deep .goals-box .nav-item .nav-link .tabs{
    padding: 0.3rem 0.8rem;
    border-radius: 0 2em 2em 0;
    color: white;
    margin-bottom: 0.8rem;
    font-size: 12px;
    width: 8rem;
 }

 ::ng-deep .goals-box .nav-item .nav-link.active .tabs{
    font-size: 1rem;
    width: 10.5rem;
    padding: 0.5rem 1.5rem 0.5rem 1rem;
 }

 ::ng-deep .goals-box .nav-item .nav-link .bank{
    background: #02C57F;
}

::ng-deep .goals-box .nav-item .nav-link .vacation{
    background: #0183EF;
}

::ng-deep .goals-box .nav-item .nav-link .education{
    background: #FF566D;
}

::ng-deep .goals-box .nav-item .nav-link .own_goal{
    background: #FFBE4A;
}

::ng-deep .goals-box .tab-content{
    width: 75%;
}
::ng-deep .goals-box .tab-pane{
    height: 100%;
}
