<div class="goals-service">

<div class="goals-box" [ngClass]="increase_div ? 'open_goal' : 'close_goal'" [ngClass]="open_service_div ? 'normal_goal' : 'changed_goal'">
    <div class="main-div" [ngClass]="status ? 'show' : 'hide'">
        <div class="label">
            <label class="font-10 font-800 text-uppercase font-color">Set financial goals</label>
            <svg width="16" height="22" viewBox="0 0 16 22" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="8" cy="11" r="8" fill="#A8B3C5"/>
        <path d="M9.48047 14.1621L9.35156 14.6895C8.96484 14.8418 8.65625 14.957 8.42578 15.0352C8.19531 15.1172 7.92773 15.1582 7.62305 15.1582C7.1543 15.1582 6.78906 15.0449 6.52734 14.8184C6.26953 14.5879 6.14062 14.2969 6.14062 13.9453C6.14062 13.8086 6.15039 13.6699 6.16992 13.5293C6.18945 13.3848 6.2207 13.2227 6.26367 13.043L6.74414 11.332C6.78711 11.168 6.82227 11.0137 6.84961 10.8691C6.88086 10.7207 6.89648 10.5859 6.89648 10.4648C6.89648 10.2461 6.85156 10.0938 6.76172 10.0078C6.67188 9.92188 6.5 9.87891 6.24609 9.87891C6.12109 9.87891 5.99219 9.89844 5.85938 9.9375C5.73047 9.97656 5.61914 10.0137 5.52539 10.0488L5.6543 9.52148C5.9707 9.39258 6.27344 9.2832 6.5625 9.19336C6.85156 9.09961 7.125 9.05273 7.38281 9.05273C7.84766 9.05273 8.20508 9.16602 8.45508 9.39258C8.70898 9.61523 8.83594 9.90625 8.83594 10.2656C8.83594 10.3398 8.82617 10.4707 8.80664 10.6582C8.79102 10.8457 8.75977 11.0176 8.71289 11.1738L8.23242 12.8789C8.19336 13.0156 8.1582 13.1719 8.12695 13.3477C8.0957 13.5234 8.08008 13.6562 8.08008 13.7461C8.08008 13.9727 8.13086 14.127 8.23242 14.209C8.33398 14.291 8.50977 14.332 8.75977 14.332C8.87695 14.332 9.00977 14.3125 9.1582 14.2734C9.30664 14.2305 9.41406 14.1934 9.48047 14.1621ZM9.60352 7.00781C9.60352 7.30469 9.49023 7.55859 9.26367 7.76953C9.04102 7.97656 8.77148 8.08008 8.45508 8.08008C8.13867 8.08008 7.86719 7.97656 7.64062 7.76953C7.41406 7.55859 7.30078 7.30469 7.30078 7.00781C7.30078 6.71094 7.41406 6.45703 7.64062 6.24609C7.86719 6.03516 8.13867 5.92969 8.45508 5.92969C8.77148 5.92969 9.04102 6.03516 9.26367 6.24609C9.49023 6.45703 9.60352 6.71094 9.60352 7.00781Z" fill="white"/>
        </svg>
    </div>

        <div class="goals">
            <div class="goal bank_balance">
                <img src="assets/img/bank-account/bank_balance.svg" alt="">
                <p class="font-12">Big Bank Balance</p>
            </div>

            <div class="goal vacation">
                <img src="assets/img/bank-account/vacation.svg" alt="">
                <p class="font-12">Vacation</p>
            </div>

            <div class="goal education">
                <img src="assets/img/bank-account/education.svg" alt="">
                <p class="font-12">Education</p>
            </div>

            <div class="goal make_your_own">
                <img src="assets/img/bank-account/make_your_own.svg" alt="">
                <p class="font-12">Make your own</p>
            </div>

        </div>

    </div>


    <div class="more-details" id="collapseE2" [ngbCollapse]="GoalsCollapsed">
            <ngb-tabset type="pills" [orientation]="currentOrientation" class="pills">
                    <ngb-tab>
                            <ng-template ngbTabTitle><div class="bank tabs">Big Bank Balance</div></ng-template>
                      <ng-template ngbTabContent>
                     <div class="details">
                         <div class="form-box">
                             <label class="font-12 color-text font-color font-bold">How much do you wish to save up?</label>
                             <div class="input-box">
                                    <input type="text" placeholder="₹50,000">
                                    <p class="font-12">(min  ₹5,000 and max ₹5,00,000)</p>
                             </div>
                             <label class="font-12 color-text font-color font-bold mt-2">When do you want to achieve it?</label>

                             <div class="btn-box">
                                    <div class="grp-cta">
                                            <button class="cta border-cta-white font-12">6 months</button>
                                            <button class="cta border-cta-blue font-12">1 year</button>
                                            <button class="cta border-cta-white font-12 mr-0">2 years</button>
                                        </div>
                                        <p class="font-9 font-blue">Select an end date</p>
                             </div>
                         </div>

                         <div class="suggested-box">
                                <label class="font-12 color-text font-color font-bold">Suggested amount to start with</label>
                                  <div class="amount">
                                      <p class="font-12 font-color font-bold">₹7,462</p>
                                      <a href="#" class="link-btn font-10">Change</a>
                                  </div>
                                  <div class="message-box">
                                      <p class="font-11 font-600 font-green">Start a recurring deposit and reach your goal in about a year!</p>
                                  </div>

                                  <button class="cta blue-filled-cta font-10">Create Goal</button>
                         </div>

                     </div>
                      </ng-template>
                    </ngb-tab>
                    <ngb-tab>
                      <ng-template ngbTabTitle><div class="vacation tabs">Vacation</div></ng-template>
                      <ng-template ngbTabContent>
                            <div class="details">
                                <div class="form-box">
                                    <label class="font-12 color-text font-color font-bold">How much do you wish to save up?</label>
                                    <div class="input-box">
                                           <input type="text" placeholder="₹50,000">
                                           <p class="font-12">(min  ₹5,000 and max ₹5,00,000)</p>
                                    </div>
                                    <label class="font-12 color-text font-color font-bold mt-2">When do you want to achieve it?</label>
       
                                    <div class="btn-box">
                                           <div class="grp-cta">
                                                   <button class="cta border-cta-white font-12">6 months</button>
                                                   <button class="cta border-cta-blue font-12">1 year</button>
                                                   <button class="cta border-cta-white font-12 mr-0">2 years</button>
                                               </div>
                                               <p class="font-9 font-blue">Select an end date</p>
                                    </div>
                                </div>
       
                                <div class="suggested-box">
                                       <label class="font-12 color-text font-color font-bold">Suggested amount to start with</label>
                                         <div class="amount">
                                             <p class="font-12 font-color font-bold">₹7,462</p>
                                             <a href="#" class="link-btn font-10">Change</a>
                                         </div>
                                         <div class="message-box">
                                             <p class="font-11 font-600 font-green">Start a recurring deposit and reach your goal in about a year!</p>
                                         </div>
       
                                         <button class="cta blue-filled-cta font-10">Create Goal</button>
                                </div>
       
                            </div>
                             </ng-template>
                    </ngb-tab>
                    <ngb-tab>
                            <ng-template ngbTabTitle><div class="education tabs">Education</div></ng-template>
                            <ng-template ngbTabContent>
                                    <div class="details">
                                        <div class="form-box">
                                            <label class="font-12 color-text font-color font-bold">How much do you wish to save up?</label>
                                            <div class="input-box">
                                                   <input type="text" placeholder="₹50,000">
                                                   <p class="font-12">(min  ₹5,000 and max ₹5,00,000)</p>
                                            </div>
                                            <label class="font-12 color-text font-color font-bold mt-2">When do you want to achieve it?</label>
               
                                            <div class="btn-box">
                                                   <div class="grp-cta">
                                                           <button class="cta border-cta-white font-12">6 months</button>
                                                           <button class="cta border-cta-blue font-12">1 year</button>
                                                           <button class="cta border-cta-white font-12 mr-0">2 years</button>
                                                       </div>
                                                       <p class="font-9 font-blue">Select an end date</p>
                                            </div>
                                        </div>
               
                                        <div class="suggested-box">
                                               <label class="font-12 color-text font-color font-bold">Suggested amount to start with</label>
                                                 <div class="amount">
                                                     <p class="font-12 font-color font-bold">₹7,462</p>
                                                     <a href="#" class="link-btn font-10">Change</a>
                                                 </div>
                                                 <div class="message-box">
                                                     <p class="font-11 font-600 font-green">Start a recurring deposit and reach your goal in about a year!</p>
                                                 </div>
               
                                                 <button class="cta blue-filled-cta font-10">Create Goal</button>
                                        </div>
               
                                    </div>
                                     </ng-template>
                    </ngb-tab>
                    <ngb-tab>
                      <ng-template ngbTabTitle><div class="own_goal tabs">Make your own</div></ng-template>
                      <ng-template ngbTabContent>
                            <div class="details">
                                <div class="form-box">
                                    <label class="font-12 color-text font-color font-bold">How much do you wish to save up?</label>
                                    <div class="input-box">
                                           <input type="text" placeholder="₹50,000">
                                           <p class="font-12">(min  ₹5,000 and max ₹5,00,000)</p>
                                    </div>
                                    <label class="font-12 color-text font-color font-bold mt-2">When do you want to achieve it?</label>
       
                                    <div class="btn-box">
                                           <div class="grp-cta">
                                                   <button class="cta border-cta-white font-12">6 months</button>
                                                   <button class="cta border-cta-blue font-12">1 year</button>
                                                   <button class="cta border-cta-white font-12 mr-0">2 years</button>
                                               </div>
                                               <p class="font-9 font-blue">Select an end date</p>
                                    </div>
                                </div>
       
                                <div class="suggested-box">
                                       <label class="font-12 color-text font-color font-bold">Suggested amount to start with</label>
                                         <div class="amount">
                                             <p class="font-12 font-color font-bold">₹7,462</p>
                                             <a href="#" class="link-btn font-10">Change</a>
                                         </div>
                                         <div class="message-box">
                                             <p class="font-11 font-600 font-green">Start a recurring deposit and reach your goal in about a year!</p>
                                         </div>
       
                                         <button class="cta blue-filled-cta font-10">Create Goal</button>
                                </div>
       
                            </div>
                             </ng-template>
                    </ngb-tab>
                  </ngb-tabset>

    </div>

    <button class="collapse-btn" (click)="GoalsCollapsed = !GoalsCollapsed ; status_click()" [attr.aria-expanded]="!GoalsCollapsed" aria-controls="collapseE2">
            <svg width="6" height="8" viewBox="0 0 6 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M5 7L2 4L5 1" stroke="#4A87E2" stroke-width="1.5"/>
                </svg>
    </button>
</div>

<div class="service-request-section" [ngClass]="inc_service_div ? 'open_services' : 'close_services'">
        <button class="collapse-btn" (click)="ServiceCollapsed = !ServiceCollapsed; service_click();" [attr.aria-expanded]="!ServiceCollapsed" aria-controls="collapseervice">
                <svg width="6" height="8" viewBox="0 0 6 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5 7L2 4L5 1" stroke="#4A87E2" stroke-width="1.5"/>
                    </svg>
        </button>
    
        <div class="main-div">
            <div class="label">
                <label class="font-10 font-800 text-uppercase font-color">Set financial goals</label>
                <span class="cta green-cta font-10">2 Ongoing</span>
            </div>
    
            <div class="request-info">
                <div class="service">
                    <div class="card-service">
                        <svg width="26" height="19" viewBox="0 0 26 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12.8079 10.1797V15.0082" stroke="#79A2E0" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M10.3926 12.598H15.221" stroke="#79A2E0" stroke-linecap="round" stroke-linejoin="round"/>
                            <g opacity="0.6">
                            <path d="M22.4651 1H3.14695C1.96149 1 1.00049 1.95139 1.00049 3.125V15.875C1.00049 17.0486 1.96149 18 3.14695 18H22.4651C23.6506 18 24.6116 17.0486 24.6116 15.875V3.125C24.6116 1.95139 23.6506 1 22.4651 1Z" stroke="#3076DE" stroke-width="0.956498" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M1 7.375H24.6111" stroke="#3076DE" stroke-width="0.956498" stroke-linecap="round" stroke-linejoin="round"/>
                            </g>
                            </svg>
                        <div class="details">
                            <label class="font-12 font-color font-bold">Account conversion from Resident to NRI not done</label>
                            <p class="font-color">6313319409245</p>
                        </div>
                    </div>
                    <p class="date font-color">12 Mar 2020</p>
                </div>
    
                <div class="service">
                    <div class="card-service">
                        <svg width="26" height="19" viewBox="0 0 26 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12.8079 10.1797V15.0082" stroke="#79A2E0" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M10.3926 12.598H15.221" stroke="#79A2E0" stroke-linecap="round" stroke-linejoin="round"/>
                            <g opacity="0.6">
                            <path d="M22.4651 1H3.14695C1.96149 1 1.00049 1.95139 1.00049 3.125V15.875C1.00049 17.0486 1.96149 18 3.14695 18H22.4651C23.6506 18 24.6116 17.0486 24.6116 15.875V3.125C24.6116 1.95139 23.6506 1 22.4651 1Z" stroke="#3076DE" stroke-width="0.956498" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M1 7.375H24.6111" stroke="#3076DE" stroke-width="0.956498" stroke-linecap="round" stroke-linejoin="round"/>
                            </g>
                            </svg>
                        <div class="details">
                            <label class="font-12 font-color">Address change</label>
                            <p class="font-color">6313319409245</p>
                        </div>
                    </div>
                    <p class="date font-color">9 Mar 2020</p>
                </div>
    
            </div>
    
        </div>

        <div class="more-details" id="collapseervice" [ngbCollapse]="ServiceCollapsed">
                <label class="font-10 font-800 text-uppercase font-color">Recommended</label>
                   <div class="generate-pin-div">
                       <p class="font-11 font-color">Received a new Debit Card?</p>
                       <button class="cta blue-cta font-10">Generate Pin
                               <svg width="5" height="8" viewBox="0 0 5 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                   <path d="M0.638428 1L3.63843 4L0.638428 7" stroke="#4A87E2" stroke-width="1.5"/>
                                   </svg>
                       </button>
                   </div>
                   <h5 class="font-10 font-800 text-uppercase font-color">Top Services</h5>
                   <div class="top-services">
                       <div class="service">
                           <img src="assets/img/bank-account/services/cheque-book-request.svg" alt="">
                            <p class="font-11 font-color">Cheque Book Request</p>
                       </div>
                       <div class="service">
                            <img src="assets/img/bank-account/services/block-card.svg" alt="">
                             <p class="font-11 font-color">Block credit card</p>
                        </div>
                        <div class="service">
                                <img src="assets/img/bank-account/services/fund-transfer.svg" alt="">
                                 <p class="font-11 font-color">Fund Transfer</p>
                            </div>
                            <div class="service">
                                    <img src="assets/img/bank-account/services/block-card.svg" alt="">
                                     <p class="font-11 font-color">Request Debit Card</p>
                                </div>
                                <div class="service">
                                        <img src="assets/img/bank-account/services/cheque-book-request.svg" alt="">
                                         <p class="font-11 font-color">Link Accounts</p>
                                    </div>
                                    <div class="service">
                                            <img src="assets/img/bank-account/services/fund-transfer.svg" alt="">
                                             <p class="font-11 font-color">Bill Pay</p>
                                        </div>
                   </div>

          </div>
    
    </div>
        
</div>
