$mobile-width: 360px;
$tablet-width: 768px;
$tablet-landscape-width: 1024px;
$desktop-width: 1024px;
@mixin s-mobile {
  @media (max-width: #{$mobile-width - 1px}) {
    @content;
  }
}
@mixin mobile {
  @media (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$tablet-width}) {
    @content;
  }
}
@mixin tablet-land {
  @media (min-width: 992px) and (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}
@mixin tablet-port {
  @media (min-width: 568px) and (max-width: 900px) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}