// COLORS
$white: #ffffff;
$text-color: #71718E;
$gray: #414141;
$cta-border-color: #D4D8E9;
$blue: #4A87E2;
$blue-background: #E4ECF9;
$maroon: #AC3E3E;
$maroon-background: #F4DFDF;
$green: #42856C;
$green-background: #D6EDE7;
$gray-background: #EBEDF6;
$dark-green: #28472D;
$dark-yellow: #705339;
