<app-header></app-header>
<div class="main">

    <div class="container-fluid">
        <div class="row">
            <div class="side-bar d-none d-lg-block">
                <app-side-nav></app-side-nav>
            </div>
            <div class="page-content">
                <div class="container">
                    <div class="row">
                        <app-bank-account class="w-100"></app-bank-account>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>