.main {
    .container-fluid {
        .row {
            display: flex;
            .side-bar {
                position: fixed;
                left: 0;
                z-index: 9999;
                padding: 0;
                top: 60px;
            }
            .page-content {
                padding: 0;
                width: 100%;
                // padding: 1rem 0.5rem 1rem 6.5rem;
         
                padding: 0rem 0rem 0rem 5rem;
                margin-top: 83px;
                @media screen and (min-width: 320px) and (max-width: 767px) {
                    padding: 1rem;
                    margin-top: 60px;
                }
                @media screen and (min-width: 768px) and (max-width: 1023px) {
                    padding: 1rem;
                    margin-top: 100px;
                }
            }
        }
    }
    .container {
        width: 100%;
        max-width: 100%;
            padding-top: 0.5rem;
    border-radius: 2em 0 0 0;
    background-color: #F3F4F8;
    }
}