.recent-transcations{
    background: #FFFFFF;
/* Card 01 */

box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
border-radius: 12px;
border: none;

.rt-top{
    padding: 1.5rem;
    padding-bottom: 0.5rem;
    background: linear-gradient(to top, rgba(243, 245, 250, 0.28) -22.34%, rgba(243, 245, 250, 0.7) 11.03%, rgba(243, 245, 250, 0) 99.35%);border-radius: 12px;
    .rt-label{
        display: flex;
        display: flex;
        justify-content: space-between;
        align-items: center;
        h3{
            margin-bottom: 0;
        }
        a{
            svg{
                margin-left: 0.5rem;
            }
        }
      
    }
    .search-box{
        margin-top: 1.5rem;
        .search-bar{
            width: 100%;
        }
    }
}
.rt-mid{
    padding: 1.5rem;
    .detail{
        display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 1rem;

    &:last-child{
        margin-bottom: 0rem;   
    }
        .name-acc-detail{
            display: flex;
            width: 60%;
      
            img{
                width: 2.5rem;
                height: 2.5rem;
                border-radius: 50%;
                margin-right: 0.8rem;
            }
            .name-acc{
                width: 70%;
            }
    
        }
        .info{
            display: flex;
            align-items: flex-start;
            .bal-date{
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                svg{
                    margin: 0 0.5rem;
                }
            }
            .indicator{
                padding: 0;
                width: 1.5rem;
                height: 1.5rem;
                margin: 0 0.8rem;

            }
        }

        .withdrawal-info{
             .bal-date{
                 h5{
                     color: #AC3E3E;
                 }
             }
             .indicator{
                 background: #F4DFDF;
             }
        }

        .debited-info{
            .bal-date{
                h5{
                    color: #3EAC75;
                }
            }
            .indicator{
                background: #D5ECD1;
                svg{
                    transform: rotate(180deg);

                    path{
                        stroke: #3EAC75;
                    }
                }
            }
       }
    
    }
}

.rt-bottom{
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    background: linear-gradient(180.07deg, rgba(243, 245, 250, 0.28) -22.34%, rgba(243, 245, 250, 0.7) 11.03%, rgba(243, 245, 250, 0) 99.35%);
border-radius: 0px;
    .pdf-btn{
        background: #EBEDF6;
        svg{
            margin-left: 0.5rem;
            transform: rotate(90deg);

        }
    }
    .download-btn{
        background: #4A87E2;
        color: #ffffff;
        margin-left: 1rem;
        svg{
            margin-left: 0.5rem;
        }
    }
}
}