<div class="recent-transcations">
<div class="rt-top">
<div class="rt-label">
    <h3 class="text-uppercase font-color font-16 font-bold">Recent Transactions</h3>
    <button class="cta blue-cta font-10">make payment
        <svg width="7" height="10" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1.21375 0.757359L5.46364 5L1.21375 9.24264" stroke="#4A87E2" stroke-width="2"/>
            </svg>
    </button>
</div>

<div class="form-group search-box">
    <svg class="search-icon-box" width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M16 16L12.375 12.375M14.3333 7.66667C14.3333 11.3486 11.3486 14.3333 7.66667 14.3333C3.98477 14.3333 1 11.3486 1 7.66667C1 3.98477 3.98477 1 7.66667 1C11.3486 1 14.3333 3.98477 14.3333 7.66667Z" stroke="#71718E" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
    <input type="text" class="form-control search-bar font-12" placeholder="Search">
</div>

</div>

<div class="rt-mid">
    <div class="detail">
        <div class="name-acc-detail">
            <img src="assets/img/bank-account/an.png" alt="">
            <div class="name-acc">
                <h4 class="font-14 font-color font-bold mb-0">Anjali Sharma</h4>
                <p class="font-12 color-text mb-0">UPI/009714132251/Bharti Airtel L/airteli</p>
            </div>
        </div>
        <div class="withdrawal-info info">
            <div class="bal-date">
                <h5 class="font-14 font-bold mb-0">₹18,000</h5>
                <p class="font-10 color-text mb-0">
                    <span>Today</span>
                     <svg width="4" height="3" viewBox="0 0 4 3" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <ellipse cx="1.59582" cy="1.5" rx="1.50256" ry="1.5" fill="#71718E"/>
                    </svg>
                     <span>3:48 pm</span>
                    </p>
            </div>
<span class="cta indicator"><svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M5.01879 3.80763L2.98695 1.77925L7.05063 1.77925L5.01879 3.80763Z" stroke="#AC3E3E" stroke-width="2"/>
    </svg></span>
    <a href="#" class="cta blue-cta">
            <svg width="7" height="10" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.21375 0.757359L5.46364 5L1.21375 9.24264" stroke="#4A87E2" stroke-width="2"/>
                </svg>
    </a>
        </div>
    </div>

    <div class="detail">
            <div class="name-acc-detail">
                <img src="assets/img/bank-account/an.png" alt="">
                <div class="name-acc">
                    <h4 class="font-14 font-color font-bold mb-0">Arvind</h4>
                    <p class="font-12 color-text mb-0">ACH/NSEMFS 29032020 CAMS/5950811828539 5</p>
                </div>
            </div>
            <div class="withdrawal-info info">
                <div class="bal-date">
                    <h5 class="font-14 font-bold mb-0">₹30,000</h5>
                    <p class="font-10 color-text mb-0">
                        <span>Today</span>
                         <svg width="4" height="3" viewBox="0 0 4 3" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <ellipse cx="1.59582" cy="1.5" rx="1.50256" ry="1.5" fill="#71718E"/>
                        </svg>
                         <span>3:48 pm</span>
                        </p>
                </div>
    <span class="cta indicator"><svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M5.01879 3.80763L2.98695 1.77925L7.05063 1.77925L5.01879 3.80763Z" stroke="#AC3E3E" stroke-width="2"/>
        </svg></span>
        <a href="" class="cta blue-cta">
                <svg width="7" height="10" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1.21375 0.757359L5.46364 5L1.21375 9.24264" stroke="#4A87E2" stroke-width="2"/>
                    </svg>
        </a>
            </div>
        </div>

        <div class="detail">
                <div class="name-acc-detail">
                    <img src="assets/img/bank-account/an.png" alt="">
                    <div class="name-acc">
                        <h4 class="font-14 font-color font-bold mb-0">Anjali Sharma</h4>
                        <p class="font-12 color-text mb-0">UPI/009714132251/Bharti Airtel L/airteli</p>
                    </div>
                </div>
                <div class="debited-info info">
                    <div class="bal-date">
                        <h5 class="font-14 font-bold mb-0">₹18,000</h5>
                        <p class="font-10 color-text mb-0">
                            <span>Today</span>
                             <svg width="4" height="3" viewBox="0 0 4 3" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <ellipse cx="1.59582" cy="1.5" rx="1.50256" ry="1.5" fill="#71718E"/>
                            </svg>
                             <span>3:48 pm</span>
                            </p>
                    </div>
        <span class="cta indicator"><svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M5.01879 3.80763L2.98695 1.77925L7.05063 1.77925L5.01879 3.80763Z" stroke="#AC3E3E" stroke-width="2"/>
            </svg></span>
            <a href="" class="cta blue-cta">
                    <svg width="7" height="10" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.21375 0.757359L5.46364 5L1.21375 9.24264" stroke="#4A87E2" stroke-width="2"/>
                        </svg>
            </a>
                </div>
            </div>
        
            <div class="detail">
                    <div class="name-acc-detail">
                        <img src="assets/img/bank-account/an.png" alt="">
                        <div class="name-acc">
                            <h4 class="font-14 font-color font-bold mb-0">Arvind</h4>
                            <p class="font-12 color-text mb-0">ACH/NSEMFS 29032020 CAMS/5950811828539 5</p>
                        </div>
                    </div>
                    <div class="debited-info info">
                        <div class="bal-date">
                            <h5 class="font-14 font-bold mb-0">₹30,000</h5>
                            <p class="font-10 color-text mb-0">
                                <span>Today</span>
                                 <svg width="4" height="3" viewBox="0 0 4 3" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <ellipse cx="1.59582" cy="1.5" rx="1.50256" ry="1.5" fill="#71718E"/>
                                </svg>
                                 <span>3:48 pm</span>
                                </p>
                        </div>
            <span class="cta indicator"><svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M5.01879 3.80763L2.98695 1.77925L7.05063 1.77925L5.01879 3.80763Z" stroke="#AC3E3E" stroke-width="2"/>
                </svg></span>
                <a href="" class="cta blue-cta">
                        <svg width="7" height="10" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1.21375 0.757359L5.46364 5L1.21375 9.24264" stroke="#4A87E2" stroke-width="2"/>
                            </svg>
                </a>
                    </div>
                </div>

                <div class="detail">
                        <div class="name-acc-detail">
                            <img src="assets/img/bank-account/an.png" alt="">
                            <div class="name-acc">
                                <h4 class="font-14 font-color font-bold mb-0">Anjali Sharma</h4>
                                <p class="font-12 color-text mb-0">UPI/009714132251/Bharti Airtel L/airteli</p>
                            </div>
                        </div>
                        <div class="withdrawal-info info">
                            <div class="bal-date">
                                <h5 class="font-14 font-bold mb-0">₹18,000</h5>
                                <p class="font-10 color-text mb-0">
                                    <span>Today</span>
                                     <svg width="4" height="3" viewBox="0 0 4 3" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <ellipse cx="1.59582" cy="1.5" rx="1.50256" ry="1.5" fill="#71718E"/>
                                    </svg>
                                     <span>3:48 pm</span>
                                    </p>
                            </div>
                <span class="cta indicator"><svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.01879 3.80763L2.98695 1.77925L7.05063 1.77925L5.01879 3.80763Z" stroke="#AC3E3E" stroke-width="2"/>
                    </svg></span>
                    <a href="" class="cta blue-cta">
                            <svg width="7" height="10" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1.21375 0.757359L5.46364 5L1.21375 9.24264" stroke="#4A87E2" stroke-width="2"/>
                                </svg>
                    </a>
                        </div>
                    </div>

                    <div class="detail">
                            <div class="name-acc-detail">
                                <img src="assets/img/bank-account/an.png" alt="">
                                <div class="name-acc">
                                    <h4 class="font-14 font-color font-bold mb-0">Arvind</h4>
                                    <p class="font-12 color-text mb-0">ACH/NSEMFS 29032020 CAMS/5950811828539 5</p>
                                </div>
                            </div>
                            <div class="debited-info info">
                                <div class="bal-date">
                                    <h5 class="font-14 font-bold mb-0">₹30,000</h5>
                                    <p class="font-10 color-text mb-0">
                                        <span>Today</span>
                                         <svg width="4" height="3" viewBox="0 0 4 3" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <ellipse cx="1.59582" cy="1.5" rx="1.50256" ry="1.5" fill="#71718E"/>
                                        </svg>
                                         <span>3:48 pm</span>
                                        </p>
                                </div>
                    <span class="cta indicator"><svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5.01879 3.80763L2.98695 1.77925L7.05063 1.77925L5.01879 3.80763Z" stroke="#AC3E3E" stroke-width="2"/>
                        </svg></span>
                        <a href="" class="cta blue-cta">
                                <svg width="7" height="10" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1.21375 0.757359L5.46364 5L1.21375 9.24264" stroke="#4A87E2" stroke-width="2"/>
                                    </svg>
                        </a>
                            </div>
                        </div>

                        <div class="detail">
                                <div class="name-acc-detail">
                                    <img src="assets/img/bank-account/an.png" alt="">
                                    <div class="name-acc">
                                        <h4 class="font-14 font-color font-bold mb-0">Arvind</h4>
                                        <p class="font-12 color-text mb-0">ACH/NSEMFS 29032020 CAMS/5950811828539 5</p>
                                    </div>
                                </div>
                                <div class="debited-info info">
                                    <div class="bal-date">
                                        <h5 class="font-14 font-bold mb-0">₹30,000</h5>
                                        <p class="font-10 color-text mb-0">
                                            <span>Today</span>
                                             <svg width="4" height="3" viewBox="0 0 4 3" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <ellipse cx="1.59582" cy="1.5" rx="1.50256" ry="1.5" fill="#71718E"/>
                                            </svg>
                                             <span>3:48 pm</span>
                                            </p>
                                    </div>
                        <span class="cta indicator"><svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5.01879 3.80763L2.98695 1.77925L7.05063 1.77925L5.01879 3.80763Z" stroke="#AC3E3E" stroke-width="2"/>
                            </svg></span>
                            <a href="" class="cta blue-cta">
                                    <svg width="7" height="10" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1.21375 0.757359L5.46364 5L1.21375 9.24264" stroke="#4A87E2" stroke-width="2"/>
                                        </svg>
                            </a>
                                </div>
                            </div>

                            <div class="detail">
                                    <div class="name-acc-detail">
                                        <img src="assets/img/bank-account/an.png" alt="">
                                        <div class="name-acc">
                                            <h4 class="font-14 font-color font-bold mb-0">Anjali Sharma</h4>
                                            <p class="font-12 color-text mb-0">UPI/009714132251/Bharti Airtel L/airteli</p>
                                        </div>
                                    </div>
                                    <div class="debited-info info">
                                        <div class="bal-date">
                                            <h5 class="font-14 font-bold mb-0">₹18,000</h5>
                                            <p class="font-10 color-text mb-0">
                                                <span>Today</span>
                                                 <svg width="4" height="3" viewBox="0 0 4 3" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <ellipse cx="1.59582" cy="1.5" rx="1.50256" ry="1.5" fill="#71718E"/>
                                                </svg>
                                                 <span>3:48 pm</span>
                                                </p>
                                        </div>
                            <span class="cta indicator"><svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M5.01879 3.80763L2.98695 1.77925L7.05063 1.77925L5.01879 3.80763Z" stroke="#AC3E3E" stroke-width="2"/>
                                </svg></span>
                                <a href="" class="cta blue-cta">
                                        <svg width="7" height="10" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M1.21375 0.757359L5.46364 5L1.21375 9.24264" stroke="#4A87E2" stroke-width="2"/>
                                            </svg>
                                </a>
                                    </div>
                                </div>

</div>

<div class="rt-bottom">
<a here="#" class="cta pdf-btn font-10 text-uppercase font-color">PDF 
    <svg width="7" height="10" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1.21375 0.757359L5.46364 5L1.21375 9.24264" stroke="#9CA1B1" stroke-width="2"/>
        </svg>
</a>

<a here="#" class="cta download-btn font-10 text-uppercase">DOWNLOAD
    <svg width="7" height="10" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1.21375 0.757359L5.46364 5L1.21375 9.24264" stroke="#ffffff" stroke-width="2"/>
        </svg>
</a>

</div>

</div>