<div class="view-statement">
    <div class="view-statement-box"  [ngClass]="status ? 'active' : 'inactive'" (click)="Collapsed = !Collapsed; active_click()" [attr.aria-expanded]="!Collapsed" aria-controls="collapseview">
        <div class="statments">
            <p class="font-16 color-blue text-uppercase">VIEW Statements</p>
            <div class="toggle-btn">
                <button class="cta white-cta font-10">DETAILED STATEMENT</button>
            </div>
        </div>

        <svg width="25" height="26" viewBox="0 0 25 26" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12.5 24.0723C6.15144 24.0723 0.999999 18.9101 0.999999 12.5361C1 6.16218 6.15145 0.999999 12.5 0.999999C18.8486 1 24 6.16218 24 12.5361C24 18.9101 18.8486 24.0723 12.5 24.0723Z" fill="#4A87E2" stroke="#4A87E2" stroke-width="2"/>
            <path d="M18 10.0343L12.6777 15.3719L7.35547 10.0343" stroke="white" stroke-width="2.66113"/>
            </svg>

    </div>
    <div id="collapseview" class="view-statement-collapsed" [ngbCollapse]="Collapsed" [@smoothCollapse]="Collapsed?'initial':'final'">

            <img class="statement-line" src="assets/img/bank-account/view-statement-line.png" alt="">
                    <div class="statements-box">
        
                            <div class="search-cal">
                               <div class="form-group search-box mb-0">
                                   <svg class="search-icon-box" width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                               <path d="M16 16L12.375 12.375M14.3333 7.66667C14.3333 11.3486 11.3486 14.3333 7.66667 14.3333C3.98477 14.3333 1 11.3486 1 7.66667C1 3.98477 3.98477 1 7.66667 1C11.3486 1 14.3333 3.98477 14.3333 7.66667Z" stroke="#71718E" stroke-linecap="round" stroke-linejoin="round"/>
                               </svg>
                                   <input type="text" class="form-control search-bar font-12" placeholder="Search within statements">
                               </div>
                       
                               <div class="calender">
                                   <p class="font-10 font-800 text-uppercase color-blue">Calendar View</p>
                       <a class="cta blue-cta"><svg width="15" height="16" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <path d="M12.1556 2.31119H2.20005C1.41458 2.31119 0.777832 2.94794 0.777832 3.73341V13.689C0.777832 14.4744 1.41458 15.1112 2.20005 15.1112H12.1556C12.9411 15.1112 13.5778 14.4744 13.5778 13.689V3.73341C13.5778 2.94794 12.9411 2.31119 12.1556 2.31119Z" stroke="#4986E1" stroke-linecap="round" stroke-linejoin="round"/>
                           <path d="M10.022 0.888916V3.73336" stroke="#4986E1" stroke-linecap="round" stroke-linejoin="round"/>
                           <path d="M4.3335 0.888916V3.73336" stroke="#4986E1" stroke-linecap="round" stroke-linejoin="round"/>
                           <path d="M0.777832 6.57776H13.5778" stroke="#4986E1" stroke-linecap="round" stroke-linejoin="round"/>
                           </svg></a>        </div>
                            </div>
                       
                            <div class="options">
                                <div class="date-filter">
                                    <button class="date-cta font-800 cta blue-cta font-10 text-uppercase">01 aPR, 2019 - 20 Apr, 2020
                                   <svg width="11" height="8" viewBox="0 0 11 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                               <path d="M10 1.00024L5.5 6.00024L1 1.00024" stroke="#4986E1" stroke-width="2.18327"/>
                              </svg>
                                   </button>
                              
                                <button (click)="togglefilterDisplayDivIf()" #filter_open class="filter font-800 cta blue-cta font-10 text-uppercase">
                                   Filter
                                <svg width="11" height="8" viewBox="0 0 11 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M10 1.00024L5.5 6.00024L1 1.00024" stroke="#4986E1" stroke-width="2.18327"/>
                              </svg>
                                </button>
                               </div>
                       
                       <div class="email-pdf">
                           <button (click)="toggleDisplayDivIf()" #email_filter_open class="email font-800 cta blue-cta font-10 text-uppercase">
                               Send over e-mail
                              <svg width="11" height="8" viewBox="0 0 11 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M10 1.00024L5.5 6.00024L1 1.00024" stroke="#4986E1" stroke-width="2.18327"/>
                              </svg>
                            </button>
                            <button class="pdf font-800 cta gray-cta font-gray-9c font-10 text-uppercase">
                               PDF
                              <svg width="11" height="8" viewBox="0 0 11 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M10 1.00024L5.5 6.00024L1 1.00024" stroke="#9CA1B1" stroke-width="2.18327"/>
                              </svg>
                            </button>
                            <button class="download blue-filled-cta font-800 cta font-10 text-uppercase">
                               DOWNLOAD
                            </button>
                       </div>
                            </div>

<div class="email-box filter-box" *ngIf="isShowDivIf">
    <div class="email-id mb-3">
        <label class="text-uppercase font-10 font-800">e-mail Id</label>
        <input type="text" value="mayank@outlook.com">
    </div>
    <div class="transaction-date mb-3">
        <label class="text-uppercase font-10 font-800">Transaction Date</label>
        <!-- <input class="form-control" placeholder="dd-mm-yyyy" 
            name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()"> -->
        <input type="text" value="01 Apr, 2019">
        <span class="middle-text text-uppercase font-10 font-800">TO</span>
        <input type="text" value="01 Apr, 2019">
        <!-- <input class="form-control" placeholder="dd-mm-yyyy" 
        name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicke    " (click)="d.toggle()"> -->
    </div>
    <button class="cta blue-filled-cta text-uppercase font-10">Send Statement</button>
</div>


<div class="filter-div filter-box" *ngIf="filterisShowDivIf">
        <div class="filter-amount-type mb-3">
            <div class="filter-amount">
                    <label class="text-uppercase font-10 font-800">Amount</label>
                    <input type="text" value="₹ 99,99,25,000.00">
                    <span class="middle-text text-uppercase font-10 font-800">TO</span>
                    <input type="text" value="₹ 99,99,25,000.00">
            </div>
            <div class="filter-type">
                    <label class="text-uppercase font-10 font-800">Type</label>
                    <input type="text" value="Debit or Credit">
            </div> 
        </div>

        <div class="transaction-date mb-3">
            <label class="text-uppercase font-10 font-800">Cheque Number</label>
            <input type="text" value="1100987">
            <span class="middle-text text-uppercase font-10 font-800">TO</span>
            <input type="text" value="1100983">
        </div>
    </div>
                       
                            <div class="info">
                                <p class="font-10 text-uppercase">Opening Balance: 
                                    <span class="font-13 font-bold">₹99,99,25,000.00</span>
                                </p>
                                <p class="font-10 text-uppercase">Closing Balance: 
                                       <span class="font-13 font-bold">₹99,99,25,000.00</span>
                                   </p>
                            </div>
                       
                       <div class="filter-btns">
        
                           <div class="trans active">
                               <p class="font-10 font-800 font-800 color-blue text-uppercase">TRANSACTION & VALUE DATE</p>
                               <div class="up-down-btn">
                                           <svg width="8" height="4" viewBox="0 0 8 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                                               <path d="M0.400024 3.8623L4.00002 0.262305L7.60002 3.8623H0.400024Z" fill="#4986E1"/>
                                               </svg>
                                           <svg width="8" height="5" viewBox="0 0 8 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                                               <path d="M0.400024 0.462402L4.00002 4.0624L7.60002 0.462402H0.400024Z" fill="#B5B5CC"/>
                                               </svg>
                               </div>
                           </div>
                       
                           <div class="trans">
                                   <p class="font-10 font-800 font-800 font-blue text-uppercase">TrAnsACTION Remarks</p>
                                   <div class="up-down-btn">
                                               <svg width="8" height="4" viewBox="0 0 8 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                   <path d="M0.400024 3.8623L4.00002 0.262305L7.60002 3.8623H0.400024Z" fill="#B5B5CC"/>
                                                   </svg>        
                                               <svg width="8" height="5" viewBox="0 0 8 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                   <path d="M0.400024 0.462402L4.00002 4.0624L7.60002 0.462402H0.400024Z" fill="#B5B5CC"/>
                                                   </svg>         
                                   </div>
                               </div>
                       
                               <div class="trans">
                                       <p class="font-10 font-800 font-800 font-blue text-uppercase">Reference & Cheque no.</p>
                                       <div class="up-down-btn">                              
                                                   <svg width="8" height="4" viewBox="0 0 8 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                       <path d="M0.400024 3.8623L4.00002 0.262305L7.60002 3.8623H0.400024Z" fill="#B5B5CC"/>
                                                       </svg>                             
                                                   <svg width="8" height="5" viewBox="0 0 8 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                       <path d="M0.400024 0.462402L4.00002 4.0624L7.60002 0.462402H0.400024Z" fill="#B5B5CC"/>
                                                      </svg>                                  
                                       </div>
                                   </div>
                       
                                   <div class="trans">
                                           <p class="font-10 font-800 font-800 font-blue text-uppercase">CREDIT</p>
                                           <div class="up-down-btn">                                 
                                                       <svg width="8" height="4" viewBox="0 0 8 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                           <path d="M0.400024 3.8623L4.00002 0.262305L7.60002 3.8623H0.400024Z" fill="#B5B5CC"/>
                                                           </svg>                           
                                                       <svg width="8" height="5" viewBox="0 0 8 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                           <path d="M0.400024 0.462402L4.00002 4.0624L7.60002 0.462402H0.400024Z" fill="#B5B5CC"/>
                                                           </svg>                              
                                           </div>
                                       </div>
                       
                                       <div class="trans">
                                               <p class="font-10 font-800 font-800 font-blue text-uppercase">Debit</p>
                                               <div class="up-down-btn">                                       
                                                           <svg width="8" height="4" viewBox="0 0 8 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                               <path d="M0.400024 3.8623L4.00002 0.262305L7.60002 3.8623H0.400024Z" fill="#B5B5CC"/>
                                                               </svg>                                        
                                                           <svg width="8" height="5" viewBox="0 0 8 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                               <path d="M0.400024 0.462402L4.00002 4.0624L7.60002 0.462402H0.400024Z" fill="#B5B5CC"/>
                                                               </svg>                                
                                               </div>
                                           </div>
                       
                                           <div class="trans">
                                                   <p class="font-10 font-800 font-800 font-blue text-uppercase">Balance</p>
                                                   <div class="up-down-btn">
                                                               <svg width="8" height="4" viewBox="0 0 8 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                   <path d="M0.400024 3.8623L4.00002 0.262305L7.60002 3.8623H0.400024Z" fill="#B5B5CC"/>
                                                                   </svg>                                      
                                                               <svg width="8" height="5" viewBox="0 0 8 5" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                   <path d="M0.400024 0.462402L4.00002 4.0624L7.60002 0.462402H0.400024Z" fill="#B5B5CC"/>
                                                                   </svg>
                                                   </div>
                                               </div>
                       </div>
                       
                       <div class="all-transactions">
                           <div class="transaction-monthly">
                               <div class="date-transaction-top">
                                   <p class="font-13 text-uppercase font-800 color-text date">APRIL 2020</p>
                                   <p class="font-13 color-text">3 Transactions</p>
                               </div>
                              
                                   <div class="transaction">
                                        <div class="date">
                                            <p class="font-22 font-bold font-gray-5D text-uppercase">10</p>
                                            <p class="font-10 font-bold color-text text-uppercase">FRI</p>
                                        </div>
                                        
                                        <div class="trans-tables">
                                         <table class="table table-striped">
                                               <tbody>
                                               <tr class="transfer">
                                                 <td class="remarks-details">
                                                  <img src="assets/img/bank-account/transfer.png" alt="transfer-img">
                                                  <div class="remarks">
                                                      <p class="font-11 font-800 text-uppercase type">Transfers</p>
                                                      <p class="font-14 font-800 color-text name">Rahul Barolia</p>
                                                      <p class="font-11 color-text">Kharcha</p>
                                                  </div>
                                                 </td>
                                                 <td class="referenc-cheque">
                                                  <p class="font-12 color-text">UPI-Union Bank</p>
                                                  <p class="font-12 color-text">9182731100426</p>
                                                 </td>
                                                 <td class="credit">
                                                           <p class="font-green font-13 font-800">₹9,000.00 
                                                                <span class="cta indicator"><svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                    <path d="M5.01879 3.80763L2.98695 1.77925L7.05063 1.77925L5.01879 3.80763Z" stroke="#AC3E3E" stroke-width="2"/>
                                                                    </svg></span>
                                                          </p>
                                                 </td>
                                                 <td class="debit">
                                                        <svg width="21" height="1" viewBox="0 0 21 1" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <rect x="0.873535" width="20" height="1" fill="#C4C4C4"/>
                                                            </svg>
                                                 </td>
                                                 <td class="balance">
                                                   <p class="font-13 color-textn font-bold">₹99,99,25,000.00 </p>
                                                 </td>
                                               </tr>
                                               </tbody>
                                             </table>
            
                               </div>
                               </div>
        
                               <div class="transaction">
                                    <div class="date">
                                        <p class="font-22 font-bold font-gray-5D text-uppercase">20</p>
                                        <p class="font-10 font-bold color-text text-uppercase">FRI</p>
                                    </div>
                                    
                                    <div class="trans-tables">
                                     <table class="table table-striped">
                                           <tbody>
                                           <tr class="bill">
                                             <td class="remarks-details">
                                              <img src="assets/img/bank-account/bill.png" alt="transfer-img">
                                              <div class="remarks">
                                                  <p class="font-11 font-800 text-uppercase type">Bill Payment</p>
                                                  <p class="font-14 font-800 color-text name">Delhi Party Week ajjshh</p>
                                                  <p class="font-11 color-text">HDFC Bank Ltd</p>
                                              </div>
                                             </td>
                                             <td class="referenc-cheque">
                                              <p class="font-12 color-text">UPI</p>
                                              <p class="font-12 color-text">9182731100426</p>
                                             </td>
                                             <td class="credit">
                                                   <svg width="21" height="1" viewBox="0 0 21 1" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                       <rect x="0.873535" width="20" height="1" fill="#C4C4C4"/>
                                                       </svg>
                                             </td>
                                             <td class="debit">
                                                   <p class="font-green font-13 font-800">₹9,000.00 
                                                           <span class="cta indicator"><svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                               <path d="M5.01879 3.80763L2.98695 1.77925L7.05063 1.77925L5.01879 3.80763Z" stroke="#AC3E3E" stroke-width="2"/>
                                                               </svg></span>
                                                     </p>
                                             </td>
                                             <td class="balance">
                                               <p class="font-13 color-textn font-bold">₹99,99,25,000.00 </p>
                                             </td>
                                           </tr>
                                           </tbody>
                                         </table>
        
                           </div>
                           </div>

                           <div class="transaction">
                                <div class="date">
                                    <p class="font-22 font-bold font-gray-5D text-uppercase">25</p>
                                    <p class="font-10 font-bold color-text text-uppercase">FRI</p>
                                </div>
                                
                                <div class="trans-tables">
                                 <table class="table table-striped tax">
                                       <tbody>
                                       <tr class="tax">
                                         <td class="remarks-details">
                                          <img src="assets/img/bank-account/tax.png" alt="transfer-img">
                                          <div class="remarks">
                                              <p class="font-11 font-800 text-uppercase type">Tax Returns</p>
                                              <p class="font-14 font-800 color-text name">Ranganathan Chsbhdhbd</p>
                                              <p class="font-11 color-text">Early Returns</p>
                                          </div>
                                         </td>
                                         <td class="referenc-cheque">
                                          <p class="font-12 color-text">NEFT</p>
                                          <p class="font-12 color-text">9182731100426</p>
                                         </td>
                                         <td class="credit">
                                                <p class="font-green font-13 font-800">₹24,000.00 
                                                        <span class="cta indicator"><svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M5.01879 3.80763L2.98695 1.77925L7.05063 1.77925L5.01879 3.80763Z" stroke="#AC3E3E" stroke-width="2"/>
                                                            </svg></span>
                                                  </p>
                                         </td>
                                         <td class="debit">
                                            <a href="#" class="cta gray-cta font-11 font-bold color-text option-btn">INVEST NOW</a>
                                         </td>
                                         <td class="balance">
                                           <p class="font-13 color-textn font-bold">₹99,99,25,000.00 </p>
                                         </td>
                                       </tr>
                                       </tbody>
                                     </table>
    
                       </div>
                       </div>
        
                           </div>
               
                           <div class="transaction-monthly">
                                <div class="date-transaction-top">
                                    <p class="font-13 text-uppercase font-800 color-text date">MARCH 2020</p>
                                    <p class="font-13 color-text">12 Transactions</p>
                                </div>
                               
                                    <div class="transaction">
                                         <div class="date">
                                             <p class="font-22 font-bold font-gray-5D text-uppercase">04</p>
                                             <p class="font-10 font-bold color-text text-uppercase">FRI</p>
                                         </div>
                                         
                                         <div class="trans-tables">
                                          <table class="table table-striped">
                                                <tbody>
                                                <tr class="tax">
                                                  <td class="remarks-details">
                                                   <img src="assets/img/bank-account/tax.png" alt="transfer-img">
                                                   <div class="remarks">
                                                       <p class="font-11 font-800 text-uppercase type">Transfers</p>
                                                       <p class="font-14 font-800 color-text name">Rahul Barolia</p>
                                                       <p class="font-11 color-text">Kharcha</p>
                                                   </div>
                                                  </td>
                                                  <td class="referenc-cheque">
                                                   <p class="font-12 color-text">UPI-Union Bank</p>
                                                   <p class="font-12 color-text">9182731100426</p>
                                                  </td>
                                                  <td class="credit">
                                                            <p class="font-green font-13 font-800">₹9,000.00 
                                                                 <span class="cta indicator"><svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                     <path d="M5.01879 3.80763L2.98695 1.77925L7.05063 1.77925L5.01879 3.80763Z" stroke="#AC3E3E" stroke-width="2"/>
                                                                     </svg></span>
                                                           </p>
                                                  </td>
                                                  <td class="debit">
                                                        <button class="cta gray-cta font-11 font-bold color-text option-btn">INVEST NOW</button>
                                                  </td>
                                                  <td class="balance">
                                                    <p class="font-13 color-textn font-bold">₹99,99,25,000.00 </p>
                                                  </td>
                                                </tr>
                                                <tr class="bill">
                                                        <td class="remarks-details">
                                                         <img src="assets/img/bank-account/bill.png" alt="transfer-img">
                                                         <div class="remarks">
                                                             <p class="font-11 font-800 text-uppercase type">Transfers</p>
                                                             <p class="font-14 font-800 color-text name">Rahul Barolia</p>
                                                             <p class="font-11 color-text">Kharcha</p>
                                                         </div>
                                                        </td>
                                                        <td class="referenc-cheque">
                                                         <p class="font-12 color-text">UPI-Union Bank</p>
                                                         <p class="font-12 color-text">9182731100426</p>
                                                        </td>
                                                        <td class="credit">
                                                                <button class="cta gray-cta font-11 font-bold color-text option-btn">GET Insurance</button>
                                                        </td>
                                                        <td class="debit">
                                                                <p class="font-green font-13 font-800">₹9,000.00 
                                                                        <span class="cta indicator"><svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                            <path d="M5.01879 3.80763L2.98695 1.77925L7.05063 1.77925L5.01879 3.80763Z" stroke="#AC3E3E" stroke-width="2"/>
                                                                            </svg></span>
                                                                  </p>
                                                        </td>
                                                        <td class="balance">
                                                          <p class="font-13 color-textn font-bold">₹99,99,25,000.00 </p>
                                                        </td>
                                                      </tr>
                                                      <tr class="bill">
                                                            <td class="remarks-details">
                                                             <img src="assets/img/bank-account/bill.png" alt="transfer-img">
                                                             <div class="remarks">
                                                                 <p class="font-11 font-800 text-uppercase type">Transfers</p>
                                                                 <p class="font-14 font-800 color-text name">Rahul Barolia</p>
                                                                 <p class="font-11 color-text">Kharcha</p>
                                                             </div>
                                                            </td>
                                                            <td class="referenc-cheque">
                                                             <p class="font-12 color-text">UPI-Union Bank</p>
                                                             <p class="font-12 color-text">9182731100426</p>
                                                            </td>
                                                            <td class="credit">
                                                                    <button class="cta gray-cta font-11 font-bold color-text option-btn">Apply for A Loan</button> 
                                                            </td>
                                                            <td class="debit">
                                                                    <p class="font-green font-13 font-800">₹9,000.00 
                                                                            <span class="cta indicator"><svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                                <path d="M5.01879 3.80763L2.98695 1.77925L7.05063 1.77925L5.01879 3.80763Z" stroke="#AC3E3E" stroke-width="2"/>
                                                                                </svg></span>
                                                                      </p>
                                                            </td>
                                                            <td class="balance">
                                                              <p class="font-13 color-textn font-bold">₹99,99,25,000.00 </p>
                                                            </td>
                                                          </tr>
                                                </tbody>
                                              </table>
             
                                </div>
                                </div>
         
                                <div class="transaction">
                                     <div class="date">
                                         <p class="font-22 font-bold font-gray-5D text-uppercase">20</p>
                                         <p class="font-10 font-bold color-text text-uppercase">FRI</p>
                                     </div>
                                     
                                     <div class="trans-tables">
                                      <table class="table table-striped">
                                            <tbody>
                                            <tr class="transfer">
                                              <td class="remarks-details">
                                               <img src="assets/img/bank-account/transfer.png" alt="transfer-img">
                                               <div class="remarks">
                                                   <p class="font-11 font-800 text-uppercase type">Salary</p>
                                                   <p class="font-14 font-800 color-text name">Delhi Party Week ajjshh</p>
                                                   <p class="font-11 color-text">HDFC Bank Ltd</p>
                                               </div>
                                              </td>
                                              <td class="referenc-cheque">
                                               <p class="font-12 color-text">UPI</p>
                                               <p class="font-12 color-text">9182731100426</p>
                                              </td>
                                              <td class="credit">
                                                    <p class="font-green font-13 font-800">₹9,000.00 
                                                            <span class="cta indicator"><svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                <path d="M5.01879 3.80763L2.98695 1.77925L7.05063 1.77925L5.01879 3.80763Z" stroke="#AC3E3E" stroke-width="2"/>
                                                                </svg></span>
                                                      </p>
                                              </td>
                                              <td class="debit">
                                                    <button class="cta gray-cta font-11 font-bold color-text option-btn">INVEST NOW</button> 
                                              </td>
                                              <td class="balance">
                                                <p class="font-13 color-textn font-bold">₹99,99,25,000.00 </p>
                                              </td>
                                            </tr>
                                            </tbody>
                                          </table>
         
                            </div>
                            </div>
 
                            <div class="transaction">
                                 <div class="date">
                                     <p class="font-22 font-bold font-gray-5D text-uppercase">25</p>
                                     <p class="font-10 font-bold color-text text-uppercase">FRI</p>
                                 </div>
                                 
                                 <div class="trans-tables">
                                  <table class="table table-striped debit">
                                        <tbody>
                                        <tr>
                                          <td class="remarks-details">
                                           <img src="assets/img/bank-account/bill.png" alt="transfer-img">
                                           <div class="remarks">
                                               <p class="font-11 font-800 text-uppercase type">Tax Returns</p>
                                               <p class="font-14 font-800 color-text name">Ranganathan Chsbhdhbd</p>
                                               <p class="font-11 color-text">Early Returns</p>
                                           </div>
                                          </td>
                                          <td class="referenc-cheque">
                                           <p class="font-12 color-text">NEFT</p>
                                           <p class="font-12 color-text">9182731100426</p>
                                          </td>
                                          <td class="credit">
                                                 <p class="font-green font-13 font-800">₹24,000.00 
                                                         <span class="cta indicator"><svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                             <path d="M5.01879 3.80763L2.98695 1.77925L7.05063 1.77925L5.01879 3.80763Z" stroke="#AC3E3E" stroke-width="2"/>
                                                             </svg></span>
                                                   </p>
                                          </td>
                                          <td class="debit">
                                             <button class="cta gray-cta font-11 font-bold color-text option-btn">INVEST NOW</button>
                                          </td>
                                          <td class="balance">
                                            <p class="font-13 color-textn font-bold">₹99,99,25,000.00 </p>
                                          </td>
                                        </tr>
                                        </tbody>
                                      </table>
     
                        </div>
                        </div>

                        <div class="transaction">
                                <div class="date">
                                    <p class="font-22 font-bold font-gray-5D text-uppercase">25</p>
                                    <p class="font-10 font-bold color-text text-uppercase">FRI</p>
                                </div>
                                
                                <div class="trans-tables">
                                 <table class="table table-striped tax">
                                       <tbody>
                                       <tr class="tax">
                                         <td class="remarks-details">
                                          <img src="assets/img/bank-account/tax.png" alt="transfer-img">
                                          <div class="remarks">
                                              <p class="font-11 font-800 text-uppercase type">Tax Returns</p>
                                              <p class="font-14 font-800 color-text name">Ranganathan Chsbhdhbd</p>
                                              <p class="font-11 color-text">Early Returns</p>
                                          </div>
                                         </td>
                                         <td class="referenc-cheque">
                                          <p class="font-12 color-text">NEFT</p>
                                          <p class="font-12 color-text">9182731100426</p>
                                         </td>
                                         <td class="credit">
                                                <p class="font-green font-13 font-800">₹24,000.00 
                                                        <span class="cta indicator"><svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M5.01879 3.80763L2.98695 1.77925L7.05063 1.77925L5.01879 3.80763Z" stroke="#AC3E3E" stroke-width="2"/>
                                                            </svg></span>
                                                  </p>
                                         </td>
                                         <td class="debit">
                                            <button class="cta gray-cta font-11 font-bold color-text option-btn">INVEST NOW</button>
                                         </td>
                                         <td class="balance">
                                           <p class="font-13 color-textn font-bold">₹99,99,25,000.00 </p>
                                         </td>
                                       </tr>
                                       </tbody>
                                     </table>
    
                       </div>
                       </div>

                       <div class="transaction">
                            <div class="date">
                                <p class="font-22 font-bold font-gray-5D text-uppercase">20</p>
                                <p class="font-10 font-bold color-text text-uppercase">FRI</p>
                            </div>
                            
                            <div class="trans-tables">
                             <table class="table table-striped">
                                   <tbody>
                                   <tr class="bill">
                                     <td class="remarks-details">
                                      <img src="assets/img/bank-account/bill.png" alt="transfer-img">
                                      <div class="remarks">
                                          <p class="font-11 font-800 text-uppercase type">Bill Payment</p>
                                          <p class="font-14 font-800 color-text name">Delhi Party Week ajjshh</p>
                                          <p class="font-11 color-text">HDFC Bank Ltd</p>
                                      </div>
                                     </td>
                                     <td class="referenc-cheque">
                                      <p class="font-12 color-text">UPI</p>
                                      <p class="font-12 color-text">9182731100426</p>
                                     </td>
                                     <td class="credit">
                                           <svg width="21" height="1" viewBox="0 0 21 1" fill="none" xmlns="http://www.w3.org/2000/svg">
                                               <rect x="0.873535" width="20" height="1" fill="#C4C4C4"/>
                                               </svg>
                                     </td>
                                     <td class="debit">
                                           <p class="font-green font-13 font-800">₹9,000.00 
                                                   <span class="cta indicator"><svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                       <path d="M5.01879 3.80763L2.98695 1.77925L7.05063 1.77925L5.01879 3.80763Z" stroke="#AC3E3E" stroke-width="2"/>
                                                       </svg></span>
                                             </p>
                                     </td>
                                     <td class="balance">
                                       <p class="font-13 color-textn font-bold">₹99,99,25,000.00 </p>
                                     </td>
                                   </tr>
                                   </tbody>
                                 </table>

                   </div>
                   </div>

                   <div class="transaction">
                        <div class="date">
                            <p class="font-22 font-bold font-gray-5D text-uppercase">20</p>
                            <p class="font-10 font-bold color-text text-uppercase">FRI</p>
                        </div>
                        
                        <div class="trans-tables">
                         <table class="table table-striped">
                               <tbody>
                               <tr class="bill">
                                 <td class="remarks-details">
                                  <img src="assets/img/bank-account/bill.png" alt="transfer-img">
                                  <div class="remarks">
                                      <p class="font-11 font-800 text-uppercase type">Bill Payment</p>
                                      <p class="font-14 font-800 color-text name">Delhi Party Week ajjshh</p>
                                      <p class="font-11 color-text">HDFC Bank Ltd</p>
                                  </div>
                                 </td>
                                 <td class="referenc-cheque">
                                  <p class="font-12 color-text">UPI</p>
                                  <p class="font-12 color-text">9182731100426</p>
                                 </td>
                                 <td class="credit">
                                       <svg width="21" height="1" viewBox="0 0 21 1" fill="none" xmlns="http://www.w3.org/2000/svg">
                                           <rect x="0.873535" width="20" height="1" fill="#C4C4C4"/>
                                           </svg>
                                 </td>
                                 <td class="debit">
                                       <p class="font-green font-13 font-800">₹9,000.00 
                                               <span class="cta indicator"><svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                   <path d="M5.01879 3.80763L2.98695 1.77925L7.05063 1.77925L5.01879 3.80763Z" stroke="#AC3E3E" stroke-width="2"/>
                                                   </svg></span>
                                         </p>
                                 </td>
                                 <td class="balance">
                                   <p class="font-13 color-textn font-bold">₹99,99,25,000.00 </p>
                                 </td>
                               </tr>
                               </tbody>
                             </table>

               </div>
               </div>
         
                            </div>
                  
                       
                        </div>

                        <div class="bottom-div">
                            <button class="cta blue-cta font-12">LEGENDS 
                                    <svg width="4" height="3" viewBox="0 0 4 3" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <ellipse cx="1.59582" cy="1.5" rx="1.50256" ry="1.5" fill="#4A87E2"/>
                                        </svg>
                                        <p><span>NEFT-</span>National Electronics Funds Transfer System (Other Bank Fund transfer)</p>
                                        <svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M1 7L6 2L11 7" stroke="#4A87E2" stroke-width="2.18327"/>
                                            </svg>
                            </button>

                            <ngb-pagination>
                                    <ng-template ngbPaginationFirst ><</ng-template>
                                    <ng-template ngbPaginationLast><<</ng-template>
                                    <ng-template ngbPaginationPrevious>></ng-template>
                                    <ng-template ngbPaginationNext>>></ng-template>
                                    <ng-template ngbPaginationEllipsis>Page 1 to </ng-template>
                                    <ng-template ngbPaginationNumber let-page>{{ page }}</ng-template>
                                  </ngb-pagination>

                        </div>
            </div>
        
        
        </div>
        

</div>