.view-statement {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    .view-statement-box {
        background: #E4ECF9;
        border: 0.5px solid #BED4F6;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
        border-radius: 32px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 1.5rem;
        width: 100%;
        cursor: pointer;
        .statments {
            display: flex;
            align-items: center;
            p {
                margin-bottom: 0;
            }
        }
   
    }
    .view-statement-collapsed{
        position: absolute;
        top: 2.5rem;
z-index: 10;
width: 98%;
overflow: initial !important;

.statement-line{
object-fit: contain;
width: 100%;
position: relative;
z-index: -1;

}
.statements-box{
box-shadow: 0px 4.36653px 4.36653px rgba(0, 0, 0, 0.25);
background-color: #FFFFFF;
/* z-index: 28; */
width: 98.3%;
margin: -0.8rem auto;
position: relative;


.search-cal{
    background: linear-gradient(180deg, rgba(123, 151, 196, 0.12) 0%, rgba(255, 255, 255, 0) 100%);
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 2rem 1rem;
    .search-box{
        .search-bar{
            width: 25rem;
        }
    }
    .calender{
        display: flex;
        align-items: center;
        p{
            margin-bottom: 0;
        }
        .cta{
            padding: 0;
            height: 2rem;
            width: 2rem;
            margin-left: 0.5rem;
        }
        svg{
                margin-right: -1px;

        }
    }

}
.options{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem 1rem;
.cta{
svg{
    margin-left: 0.5rem;
}
}

.date-filter{
display: flex;
.date-cta{
    margin-right: 1rem;
}
}
.email-pdf{
display: flex; 
.date-cta{
    margin-right: 1rem;
}
.pdf{
    margin: 0 1rem
}
}
}

.filter-box{
    width: 100%;
    position: absolute;
    top: 7.4rem;
    background-color: rgba(6, 10, 15, 0.8); 
    border-radius: 0px 0px 6px 6px;
    padding: 2rem;
    backdrop-filter: blur(2px);

 label{
    color: #A5ABB6;
    width: 8rem;

}
input{
    border-radius: 2em;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border: 0.5px solid #8E9399;
    padding: 0.5rem 0.8rem;
    font-size: 13px;
    color: white;
    background: #64696F;
}
.middle-text{
    color: #A5ABB6;
    margin: 0 1rem;
}
.cta{
    margin-left: 8rem;

}
}

.filter-amount-type{
display: flex;
.filter-amount{
    display: flex;
    align-items: center;
}
.filter-type{
    display: flex;
    align-items: center;
    label{
        margin-left: 2rem;
        width: 3rem;
    }
}

}


.info{
    display: flex;
padding: 0.5rem 2rem;
background: #FFF4D8;
border: 1px solid #F6C547;
border-right: none;
border-left: none;
p{
    margin-bottom: 0;
    color:#6C5446;
    margin-right:2rem;
    span{
        margin-left: 2px;
    }
}
}
.filter-btns{
    display: flex;
    background : #EBEFF6;
    .trans{
width: 20%;
display:flex;
align-items:center;
padding: 1rem;
justify-content: center;

p{
margin-bottom: 0;
color: #71718E;
}
.up-down-btn{
    background: white;
display: flex;
flex-direction: column;
align-items: center;
height: 1.2rem;
justify-content: space-between;
padding: 0.2rem;
border-radius: 2em;
margin-left: 0.5rem;
}
    }
    .active{
        p{
            color: #4A87E2;
        }
    }
}
.all-transactions{
padding: 1rem;
.transaction-monthly{
    padding: 0.5rem 0;

    .date-transaction-top{
       
        background: #E4ECF9;
        border-radius: 5px 5px 0 0;
        display: inline-flex;
        margin-left: 4.5rem;
       
        .date{
            border-right: 1px solid #BBC9DF;

        }
        p{
            margin-bottom: 0;
            padding: 0.5rem;
            padding-bottom: 0.2rem;
        }
    }
    .transaction{
        display: flex;
        margin-bottom: 0.5rem;
        .date{
            width: 5rem;
            height: 5.35rem;
            border: 1px solid #c6c9d287;
            border-right: none;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-radius: 5px 0 0 5px;

            p{
                margin-bottom: 0;
            }
        }
        .trans-tables{
            width: 100%;
            table{
                margin-bottom: 0;
                border: 1px solid #c6c9d287;
                border-bottom:none;
                border-radius: 0 5px 5px 0;

                tbody{
                    tr{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        border-bottom: 1px solid #c6c9d287;
                        p{
                            margin-bottom: 0;
                        }
                        background: white;
                        td{
                            border:none;
                        }
                        .remarks-details{
                            display: flex;
                            align-items: center;
                            width: 25%;
                            img{
                                margin-right: 0.5rem;
                            }
                            .name{
                                white-space: nowrap;
                                overflow: hidden;
                              text-overflow: ellipsis;  
                              width: 6rem;
                            }
                        }
                        .referenc-cheque{
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            justify-content: center;
                            width: 20%;
                        }
                        .credit{
                            display: flex;
                            align-items: center;
                            width: 18%;
                            justify-content: center;
                            p{
                                display: flex;
                                align-items: center;
                                color: #3EAC75;
                                span{
                                    background: #D5ECD1;
                                    padding: 0;
                                    width: 1.5rem;
                                    height: 1.5rem;
                                    margin-left: 0.5rem;
                                    svg{
                                        transform: rotate(180deg);
                                       
                                        path{
                                            stroke: #3EAC75;
                                        }
                                    }
                                }
                            }
                        }
                        .debit{
                            display: flex;
                            align-items: center;
                            width: 18%;
                            justify-content: center;
                            p{
                                display: flex;
                                align-items: center;
                                color: #AC3E3E;
                                span{
                                    background: #F4DFDF;
                                    padding: 0;
                                    width: 1.5rem;
                                    height: 1.5rem;
                                    margin-left: 0.5rem;
                                    svg{                                       
                                        path{
                                            stroke: #AC3E3E;
                                        }
                                    }
                                }
                            }
                        }
                        .balance{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 20%;
                        }
                        .option-btn{
                            line-height: initial;
                            display: inline-flex;
                        }
                    }
                }
            }
            .transfer{
               .type{
                   color: #3EAC75;
               } 
            }
            .bill{
                .type{
                    color: #EF8100;
                } 
             }
             .tax{
                .type{
                    color: #9782F6;
                } 
             }
        }
    }
}
}

.bottom-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem 1rem;

    .cta{
        display: inline-flex;
        svg{
            margin: 0 0.5rem;
        }
        p{
            margin-bottom: 0;
            color: #414141;
        }
    }
}

}

    }
    .view-statement-box.active{
        border-radius: 32px 32px 10px 10px;
        padding-bottom: 1.3rem;
    }
}