<div class="offer-bill-pay my-2">
        <div class="offer-text">
        <h3 class="font-14 font-800 font-yellow">Bill Pay Offer!</h3>
        <p class="font-12 font-bold font-yellow">Pay 3 bills and get Rs. 250 Zomato voucher! T&C apply.</p>
        <a href="#" class="cta font-10 font-bold font-yellow">LEARN MORE</a>
    </div>
    </div>
