.offer-bill-pay{
    background-image: url("../../../assets/img/bank-account/offer-bill-pay.png");
    border-radius: 12px;
    border: none;
    background-repeat: no-repeat;
    background-color: #FFBE4A;
    background-size: auto;
    background-position: bottom right;
    display: inline-block;
    width: 100%;
    padding: 1.5rem 1rem;
    .offer-text{
        width: 65%;
        display: flex;
    flex-direction: column;
    align-items: flex-start;
    }
    .cta{
        background: #FFE1AC;
    }
}