<div class="bank-account-section">
    <div class="container-fluid">
        <div class="row mx-0">
            <div class="col-12 section-padding">
                <app-profile></app-profile>
            </div>
            <div class="col-12 section-padding">
                <app-account-type></app-account-type>
            </div>
            <div class="col-3 section-padding">
                <app-account-details></app-account-details>
            </div>

            <div class="col-9 section-padding pt-0 px-0">
                <div class="container">
                    <div class="row">
                        <div class="col-12 inside-section-padding overflow-hidden">
                            <app-goals></app-goals>
                        </div>

                        <div class="col-12 inside-section-padding">
                            <app-view-statements></app-view-statements>
                        </div>

                        <div class="col-12 inside-section-padding">
                            <div class="container">
                                <div class="row">
                                    <div class="col-7 inside-section-padding pt-0 pl-0">
                                     <app-recent-transactions></app-recent-transactions>
                                    </div>
                                    <div class="col-5 inside-section-padding pt-0 pr-0">
                                        <app-card-details></app-card-details>
                                        <app-offer-debit-card></app-offer-debit-card>
                                        <app-offer-bill-pay></app-offer-bill-pay>
                                        <app-spend-analysis></app-spend-analysis>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>


</div>