/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

@import "assets/abstracts/font";
@import "assets/abstracts/functions";
@import "assets/abstracts/mixins";
@import "assets/abstracts/variables";
@import "assets/base/animations";
@import "assets/base/base";
@import "assets/base/typography";
@import "assets/base/utilities";
@import "assets/components/button";
@import "assets/components/card";
@import "assets/components/form";
@import "assets/components/popup";
@import "assets/components/radio";
@import "assets/components/checkbox";
@import "assets/components/dropdown";
@import "assets/components/select";
@import "assets/components/searchbar";
@import "assets/components/preloader";
@import "assets/layout/footer";
@import "assets/layout/grid";
@import "assets/layout/header";
@import "assets/layout/navigation";


body {
    background: $white;
    font-family: $font-pro;
    font-family: $font-muli;
      margin: 0;
}
